.flexselect_dropdown {
  display: none;
  position: absolute;
  z-index: 999999;
  margin: 0;
	padding: 0;
	border: 1px solid rgba(60,60,60,.26);
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
	background-color: Window;
  color: WindowText;
  text-align: left;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.15);
  border-radius: 0 0 4px 4px;
	padding: 5px 0;
}

.flexselect_dropdown ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.flexselect_dropdown li {
	margin: 0px;
	padding: 4px 15px;
	cursor: pointer;
	display: block;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	overflow: hidden;
}

.flexselect_dropdown li.disabled {
  cursor: not-allowed;
  color: GrayText;
}

.flexselect_selected {
	background-color: Highlight;
	color: HighlightText;
}
