:root {
  --color-main: #fd3400;
  --color-black: #3b4144;
  --color-black-light: #474d50;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  // font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
  //   Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color:  #3b4144;
  font-weight: 300;
  line-height: 1.6;
}

.content {
  padding: 0 1.5rem;

  @include respond(tab) {
    padding: 0 3rem;
  }

  @include respond(laptop) {
    max-width: 1141px;
    margin: 0 auto;
  }

  @include respond(desktop) {
    margin: 0 auto;
    padding: 0;
  }

  &--calculator {
    @include respond(desktop) {
      padding: 6rem;
    }
  }
}

.content-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;

  &--mostovoy {
    width: auto;
    right: 0;
    left: initial;
    max-width: 340px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      left: auto;
    }
  }
}

.image-block {
  display: block;
  width: 100%;
  // height: 100%;

  &--mobile {
    width: 100%;

    @include respond(laptop) {
      width: initial;
    }
  }
}

.image-article {
  width: 80%;
  margin: 0 auto;
}

.label {
  display: grid;
  gap: 2rem;
  font-weight: 500;
  font-size: 14px;
}

.zalog-docs__grid {
  display: grid;
  gap: 5rem;
  margin: 5rem auto;

  @include respond(laptop) {
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 5rem 1fr;
  }

  .simple-grid {
    -ms-grid-column: 1;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }

  .heading-2 {
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin-bottom: 2rem;
    }
  }
}

.zalog-docs__figure {
  @include respond(laptop) {
    grid-row: 1 / span 2;
    grid-column: 2;
    justify-self: center;
    -ms-grid-column: 3;
  }
}

.section {
  display: flex;
  justify-content: center;
}

.image-height {
  display: block;
  // width: 100%;
  height: 100%;
}

.link {
  color: #fff;
}

.opd {
  font-size: 12px;
  
  @include respond(tab) {
    grid-column: 1 / 3;
  }

  &--input {
    margin-right: 1rem;
    transform: translateY(1px);
  }
  
  &--link {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
  }

  &__phone {
    margin-bottom: 3rem;

    @include respond(tab) {
      position: absolute;
      bottom: -35px;
      margin-bottom: 0rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        left: 0;
      }
    }
  }

  &__form-product {
    grid-column: 1;

    @include respond(laptop) {
      grid-column: 1 / 3;
      -ms-grid-row: 9;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }
  }

  &__form-value {
    grid-column: 1;

    @include respond(tab) {
      grid-column: 2 / span 3;
      -ms-grid-row: 5;
    }
    
    @include respond(desktop) {
      grid-column: 1 / 4;
      transform: translateX(0px);
    }
  }

  &__calc {
    margin-top: 4rem;

    @include respond(tab) {
      margin-top: -3rem;
    }

    @include respond(desktop) {
      margin-top: 0rem;
      position: absolute;
      bottom: -10px;
    }
  }

  &__calc--2 {
    margin-top: 4rem;

    @include respond(tab) {
      margin-top: -3rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-row: 11;
        margin-top: -1rem;
      }
    }

    @include respond(desktop) {
      margin-top: 0rem;
      position: absolute;
      bottom: -30px;
    }
  }

  &__luxury {
    grid-column: 1;
    @include respond(laptop) {
      grid-column: 2 / 4;
      transform: translateX(-33px);
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;
      -ms-grid-row: 3;
    }
  }

  &__subscribe {
    @include respond(tab) {
      grid-column: 2 / 4;

      -ms-grid-row: 3;
      -ms-grid-column: 3;
      -ms-grid-column-span: 4;
    }
  }

  &__faq {
    @include respond(tab) {
      grid-column: 2 / 4;
    }
  }

  &__request {
    @include respond(tab) {
      grid-column: 1 / 7;
      -ms-grid-column-span: 11;
    }
  }
}

input[type=date] {
  color: gray;
}

// input[type=date]:focus {
//   color: black;
// }

.value {
  background: #edf6fa;
  margin-bottom: 5rem;
}

img {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    border: none;
  }
}

.ie-hide {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    display: none !important;
  }
}

