@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('/assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Montserrat-Regular.woff') format('woff'),
		url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('/assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Montserrat-SemiBold.woff') format('woff'),
		url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/assets/fonts/Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('/assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Montserrat-Bold.woff') format('woff'),
		url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}