.heading-1 {
  font-size: 2.2rem;
  font-weight: 500;

  @include respond(tab) {
    font-size: 40px;
  }

  @include respond(desktop) {
    font-size: 48px;
    line-height: 59px;
  }

  &--zalog {
    @include respond(laptop) {
      max-width: 400px;
    }
  }
}

.heading-2 {
  font-size: 1.8rem;
  font-weight: 400;

  @include respond(tab) {
    font-size: 30px;
  }
}

.heading-3 {
  font-size: 1.6rem;
  font-weight: 500;
}

.heading-4 {
  font-size: 1.4rem;
  line-height: 24px;
  font-weight: 400;

  @include respond(tab) {
    font-size: 2.4rem;
    line-height: 36px;
  }
}

.text {
  font-size: 12px;
  line-height: 18px;

  @include respond(tab) {
    font-size: 14px;
    line-height: 24px;
  }
}
