.block {
  display: block;
}

.ul {
  list-style: none;
}

.ul--gap {
  display: grid;
  gap: 10px;
}

.red {
  color: #fd3400; 
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.grid-benefits {
  display: grid;
  gap: 3rem;
  margin: 5rem auto;

  @include respond(laptop) {
    grid-template-columns: 35% 1fr;
    margin: 7rem auto;
    -ms-grid-columns: 35% 3rem 1fr;
  }

  &--moto {
    @include respond(laptop) {
      grid-template-columns: 38% 1fr;
      -ms-grid-columns: 38% 3rem 1fr;
    }
  }

  &__content {
    font-size: 14px;
    line-height: 24px;
    display: grid;
    gap: 3rem;
    -ms-grid-column: 3;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    form {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 3rem;
      }
    }
  }
}

.simple-grid {
  display: grid;
  gap: 4rem;
  -ms-grid-column: 3;

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
   display: block;
  }

  &--small {
    display: grid;
    gap: 2rem;
  }
}

.simple-grid.text {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    margin: 4rem 0;
  }
}

.grid-reverted {
  display: grid;
  gap: 3rem;
  margin: 5rem auto;

  @include respond(laptop) {
    grid-template-columns: 1fr 35%;
  }

  &__content {
    font-size: 14px;
    line-height: 24px;
    display: grid;
    gap: 3rem;
  }
}

.text-center {
  text-align: center;
}

.text-cap {
  ::first-letter {
    
  }
}

.mb-50 {
  margin-bottom: 3rem;

  @include respond(tab) {
    margin-bottom: 5rem;
  }
}

.pd-6 {
  width: 70%;

  @include respond(phone) {
    width: 60%;
  }
}

.mt-30 {
  margin-top: 2rem;
}

.show-mob {
  display: inline;
  @include respond(laptop) {
    display: none;
  }
}

.show-tab {
  display: none;
  @include respond(tab) {
    display: inline;
  }
}

.hide-tab {
  display: inline;
  @include respond(tab) {
    display: none;
  }
}

.hide-laptop {
  display: inline;
  @include respond(laptop) {
    display: none;
  }
}

.show-laptop {
  display: none;
  @include respond(laptop) {
    display: inline;
  }
}

.show-desktop {
  display: none;
  @include respond(desktop) {
    display: inline;
  }
}

.hide-desktop {
  display: inline;
  @include respond(desktop) {
    display: none;
  }
}