.about-card {
  color: white;
  overflow: hidden;
  height: 100%;

  &--violet {
    background: linear-gradient(
        67.34deg,
        #695876 3.05%,
        rgba(88, 99, 118, 0) 97.75%
      ),
      #7081a0;
  }

  &--teal {
    background: linear-gradient(66.19deg, #3d7c8f 4.86%, #399cbb 91.26%);
  }

  &--green {
    background: linear-gradient(66.19deg, #3d8f72 4.86%, #39bb8c 91.26%);
  }

  &--orange {
    background: linear-gradient(66.19deg, #8f3d3d 4.86%, #bb6039 91.26%);
  }

  &--yellow {
    background: linear-gradient(66.19deg, #a58764 4.86%, #d7bb73 91.26%);
  }

  &--sky {
    background: linear-gradient(66.19deg, #8ba9b6 4.86%, #aac8d5 91.26%);
  }

  &--about {
    padding-top: 10rem;
  }
  
  &__grid {
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr max-content;
    padding: 6rem 0;

    &--relative {
      position: relative;
      grid-template-columns: 45% 1fr;
    }
  }

  &__logo {
    transform: scale(1.5);
    margin-right: 5rem;
  }

  &__content {
    display: flex;
    align-items: center;
    line-height: 59px;
    position: relative;
    z-index: 3;

    &--remote {
      line-height: normal;
      display: grid;
      gap: 3rem;
    }

    &--logo {
      max-width: 112px;

      @include respond(tab) {
        max-width: 168px;
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }

  &__img {
    display: block;

    &--remote {
      transform: translateX(150px);
    }

    &--man {
      transform: translateY(-120px);
    }
  }

  &__form {
    display: grid;
    padding-top: 1rem;
    gap: 2rem;
    align-items: flex-end;

    @include respond(tab) {
      padding-top: 0;
      grid-template-columns: 221px 221px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        flex-wrap: wrap;
        max-width: 465px;
        justify-content: flex-start;
      }
    }

    .input-phone {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        width: 221px;
      }
    }

    button {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 3;
        max-width: 221px;
        margin-left: 2rem;
      }
    }

    .opd {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        margin-top: 1rem;
      }
    }
  }

  &__text-block {
    font-size: 18px;
    line-height: 32px;

    color: rgba(255, 255, 255, 0.7);
 
    &--white {
      color: #fff;
    
      @include respond(desktop) {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 2rem;
        margin-bottom: 2rem;
      }
    }

    &--docs {
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
    }
    
  }

  &__mostovoy-mobile {
    @include respond(tab) {
      display: none;
    }
  }

  &__mostovoy-tab {
    display: none;

    @include respond(tab) {
      display: block;
    }

    @include respond(laptop) {
      display: none;
    }
  }

  &__mostovoy-desktop {
    display: none;

    @include respond(laptop) {
      display: block;
    }
  }

}
