.article-card {
  border-radius: 5px;
  background: white;
  height: 100%;
  display: grid;
  grid-template-rows: 150px 1fr;
  border: 1px solid #dae6eb;
  position: relative;
  overflow: hidden;

  @include respond(tab) {
    grid-template-rows: 200px 1fr;
  }

  @include respond(laptop) {
    grid-column: auto / span 2;
  }

  &:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  &:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
  }

  &:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }

  &--main {
    
    height: 420px;

    @include respond(tab) {
      grid-column: auto / span 2;
    }
    
    @include respond(laptop) {
      grid-column: 1 / span 4;
      -ms-grid-column: 1;
      -ms-grid-column-span: 7;
    }
  }

  &--middle {

    @include respond(tab) {
      grid-column: auto / span 2;
    }
    
    @include respond(laptop) {
      grid-column: auto / span 3;
    }

    &:nth-child(1) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
    }

    &:nth-child(2) {
      -ms-grid-column: 7;
      -ms-grid-column-span: 5;
    }
  }

  &__overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__tag {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
  }

  &__content {
    padding: 2.6rem 2.5rem 1rem;
    background: #fff;
    -ms-grid-row: 2;

    &--big {
      display: grid;
      align-self: flex-end;
      position: relative;
      z-index: 3;
      color: white;
      background: transparent;
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        display: block;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 1rem;

    @include respond(desktop) {
      font-size: 16px;
    }

    &--big {
      font-size: 20px;
      
      @include respond(tab) {
        font-size: 24px;
        max-width: 70%;
      }
    }
  }

  &__text {
    font-size: 12px;
    line-height: 18px;

    @include respond(desktop) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 36px;
    color: rgba(59, 65, 68, 0.6);
    opacity: 0.9;

    &--big {
      font-size: 12px;
      opacity: 0.9;
      margin-bottom: 5px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // border-radius: 5px 5px 0 0;

    &--main {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__btn {
    font-weight: 600;
    font-size: 12px;
  }
}
