.article {
  margin: 3rem auto;

  @include respond(tab) {
    margin: 5rem auto;
  }


  &__header {
    display: grid;
    // grid-template-columns: max-content 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
    justify-items: flex-start;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    .heading-1 {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin: 2rem 0;
      }
    }
  }

  &__content {
    display: grid;
    gap: 4rem;
    font-size: 14px;
    line-height: 24px;
    
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }

  &__text {
    display: grid;
    gap: 1rem;

    @include respond(tab) {
      gap: 3rem;
    }

    ul {
      padding-left: 2rem;
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 3rem;
      }
    }

    p, h2 {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 3rem;
      }
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }

  &__content-main {
    font-weight: 500;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__links {
    display: grid;
    gap: 3rem;

    @include respond(laptop) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 3rem;
      }
    }
  }

  &__social {
    display: flex;
    grid-template-columns: repeat(3, max-content);
    gap: 1rem;
    align-items: center;
  }

  &__social-link {
    fill:  #3b4144;
    margin: 0 1rem;

    &:hover {
      // fill: white;
      cursor: pointer;
    }
  }

  &__social-link path {
    fill: inherit;
    transition: all 0.32s ease-out;
  }

  &__red {
    padding-left: 20px;
    border-left: 4px solid #fd3400;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 2rem 0;

    @include respond(tab) {
      padding-left: 40px;
    }
  }


}
