.breadcrumbs {
  display: none;
  color: inherit;
  margin-bottom: 3rem;

  &--margin {
    margin: 5rem 0;
  }

  &--black {
    color: black;
  }

  &--pts-legkovoy {
    margin-bottom: 0;
  }

  @include respond(laptop) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
    gap: 2rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
    }
  }

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    margin-bottom: 2.5rem;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    padding-left: 4rem;
    position: relative;
  }

  &::before {
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid white;
    border-radius: 2px;
    margin-right: 15px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      position: absolute;
      left: 2rem;
      top: 4px;
    }
  }

  &--black {
    &::before {
      content: "";
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 10px solid black;
      border-radius: 2px;
      margin-right: 15px;
    }
  }
}
