.btn {
  border: none;
  background: none;
  transition: all 0.3s ease-out;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  display: grid;
  text-decoration: none;

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }
 
  &:focus {
    outline: none;
  }

  &--red {
    background: #fd3400;
    box-shadow: 0px 4px 8px rgba(253, 22, 72, 0.3);
    color: white;
    font-size: 14px;

    @include respond(tab) {
      font-size: 16px;
    }

    &:hover:enabled {
      background: #ff0000;
      box-shadow: 0px 4px 8px rgba(253, 22, 72, 0.3);
    }

    &:active {
      box-shadow: none;
      background: #fd3400;
    }
  }

  &--slide {
    width: auto;
  }

  &--normal {
    height: 44px;
  }

  &--big {
    height: 44px;

    @include respond(tab) {
      height: 50px;
    }
  }

  &--padding {
    padding: 0 1rem;
  }

  &--columns {
    grid-template-columns: max-content max-content;
    display: grid;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    transition: all 0.32s ease-out;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img, svg {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-left: 2rem;
      }
    }
  }

  &:hover:enabled {

    .btn--columns {
      column-gap: 3rem;
      cursor: pointer;
    }

    .btn--red {
      background: #ff0000;
      box-shadow: 0px 4px 8px rgba(253, 22, 72, 0.3);
    }
    
  }

  &--columns-simple {
    grid-template-columns: max-content max-content;
    display: grid;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    transition: all 0.32s ease-out;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
      display: flex;
    }

    &:hover:enabled {
      cursor: pointer;
    }
  }

  &--columns > * {
    &:hover:enabled {
      cursor: pointer;
    }
  }

  &--columns-phone {
    @include respond(tab) {
      grid-template-columns: 1fr;
    }
  }

  &--left {
    justify-content: flex-start;
  }

  &:disabled {
    cursor: not-allowed;
  }
}


a.btn {

  .btn--columns {
    &:hover {
      column-gap: 3rem;
      cursor: pointer;
    }
  }

  &--red {
    &:hover {
      background: #ff0000;
      box-shadow: 0px 4px 8px rgba(253, 22, 72, 0.3);
    }
  }

}

