.burger-menu {
  position: fixed;
  right: -100%;
  max-width: 50rem;
  width: 100%;
  background: white;
  z-index: 98;
  transition: all 0.77s cubic-bezier(0.77, 0.2, 0.05, 1);
  height: 200vh;
  transform: translateY(-15px);
  overflow-y: scroll;
  max-height: 101%;

  @include respond(laptop) {
    display: none;
  }

  &--active {
    right: 0;
  }

  &__cross {
    width: 14px;
    height: 14px;
  }

  &__header {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
