.card-review {
  border: 1px solid #dae6eb;
  border-radius: 5px;
  padding-bottom: 2rem;
  margin-bottom: 3rem;

  @include respond(tab) {
    margin-bottom: 0rem;
  }

  @include respond(laptop) {
    height: 739px;
    padding-bottom: 0;
  }

  &:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }

  &:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }

  &:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
  }

  &:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
  }

  &:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-row: 5;
  }

  &:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 7;
  }

  &:nth-child(8) {
    -ms-grid-column: 3;
    -ms-grid-row: 7;
  }

  .article__img {
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      max-width: 555px;
    }
  }

  &__grid {
    display: block;

    @include respond(tab) {
      gap: 3rem;
      grid-template-columns: 1fr;
      display: grid;
    }

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr;
      -ms-grid-columns: 1fr 3rem 1fr;
      -ms-grid-rows: 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
    }
  }

  &__title {
    padding-top: 3rem;
    padding-right: 1rem;

    @include respond(tab) {
      padding-left: 2rem;
      padding-right: 0;
    }
  }

  &__header {
    padding-left: 2rem;

    // @include respond(tab) {
    //   padding-left: 2rem;
    // }
  }

  &__title-model {
    font-weight: 500;
    font-size: 18px;

    @include respond(tab) {
      font-size: 24px;
    }
  }

  &__title-author {
    font-size: 12px;
    line-height: 24px;
    color: rgba(71, 77, 80, 0.6);
    display: block;
    font-weight: normal;
  }

  &__avatar {
    margin-top: 3rem;
  }

  &__figure {
    margin-top: 3rem;

    &--list {
      max-height: 300px;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  }

  &__content {
    display: block;
    padding-top: 3.3rem;
    padding-left: 4rem;

    @include respond(tab) {
      display: grid;
      grid-template-columns: max-content 1fr;
      align-self: flex-start;
      gap: 3rem;
      -ms-grid-columns: 55px 3rem 1fr;
    }
  }

  &__quote {
    font-weight: 300;
    font-size: 144px;
    line-height: 130px;
    color: rgba(0, 0, 0, 0.2);
    display: none;

    @include respond(tab) {
      display: block;
    }

  }

  &__content-container {
    padding-right: 3rem;
    -ms-grid-column: 3;
  }

  &__content-teaser {
    font-size: 14px;
    line-height: 24px;
    color: #474d50;
  }

  &__numbers {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3rem;
    margin-bottom: 1rem;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
    }
  }

  &__value {
    font-weight: 500;
    font-size: 36px;
    color: #fd3400;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: flex-start;
    line-height: 44px;
    gap: 5px;
  }

  &__value-grid:nth-child(2) {
    -ms-grid-column: 3;
  }

  &__value-grid:nth-child(3) {
    -ms-grid-column: 5;
  }

  &__value-text {
    font-size: 12px;
    line-height: 15px;
    transform: translateY(6px);
  }

  &__value-tip {
    font-size: 12px;
    color: rgba(59, 65, 68, 0.6);
    padding-top: 5px;
  }
}
