.case-card {
  width: 360px;
  height: 580px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  @include respond(laptop) {
    margin: 0;
  }

  &__grid {
    padding-top: 3rem;
    display: grid;
    grid-template-rows: 270px 1fr;
  }

  &__content {
    display: grid;
    gap: 2rem;
    font-size: 14px;
    line-height: 24px;
    padding: 0 3rem;
    position: relative;
    z-index: 10;
    grid-template-rows: 100px 1fr 1fr;
    align-items: flex-end;
    -ms-grid-row: 2;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }

  &__intersection-container {
    height: 350px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(86.81deg, #695876 -2.62%, #7081a0 96.69%);
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    z-index: 3;

    // @include respond(tab) {
    //   height: 590px;
    // }

    // @include respond(laptop) {
    //   display: none;
    // }
  }

  &__intersection {
    position: relative;
    height: 360px;
    width: 100%;
    background: linear-gradient(86.81deg, #695876 -6.58%, #7081a0 96.57%);
    opacity: 0.65;
    clip-path: polygon(0 12%, 100% 0, 100% 50%, 0% 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;

    // @include respond(tab) {
    //   height: 600px;
    // }

    // @include respond(laptop) {
    //   display: none;
    // }
  }

  &__text {
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin: 2rem 0;
    }
  }
}
