.cta-card {
  position: relative;
  // height: 242px;
  overflow: hidden;
  display: block;
  border-radius: 5px;
  margin-bottom: 55px;
  box-sizing: border-box;

  &--3 {
    @include respond(desktop) {
      order: 4;
    }
  }

  &--violet {
    background: linear-gradient(67.28deg, #695876 20.62%, #7081a0 95.57%);
    color: white;
  }

  &--blue {
    background: #edf6fa;
  }

  @include respond(tab) {
    display: grid;
    height: 306px;
    padding: 1.5rem;
    margin-bottom: 0;
  }

  &--premium {
    height: 414px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond(tab) {
      height: 277px;
    }
  }

  &:nth-child(2) {
    -ms-grid-column: 3;
  }

  &:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  &:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  &__content {
    position: relative;
    display: grid;
    z-index: 2;
    grid-row-gap: 1.7rem;
    row-gap: 1.7rem;
    grid-row: 1;
    grid-column: 1;
    padding: 2.3rem 1.9rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      grid-template-rows: 75px 1.7rem 50px 1.7rem 50px;
    }
  
    @include respond(tab) {
      row-gap: 2.5rem;
    }

    &--premium {
      display: grid;
      grid-row-gap: 23px;
      padding: 0 25px 30px 25px;

      @include respond(tab) {
        padding: 2.3rem 1.9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &--brands {
      padding: 1rem 0 2rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__figure {
    display: flex;
    justify-content: center;
    
    &--premium {  
      @include respond(tab) {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    &--premium-desktop {
      @include respond(tab) {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    &--brands {
      justify-content: flex-end;
    }

    // &--premium-mob {
    //   display: flex;
    //   @include respond(tab) {
    //     display: none;
    //   }
    // }
  }

  &__image {
    // max-width: 274px;
    max-height: 187px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 270px;
    height: auto;
    
    @include respond(tab) {
      max-height: unset;
      margin-top: 0;
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      // width: 275px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        max-height: 300px;
      }
    }

    @include respond(desktop) {
      // width: 50%;
    }

    &--premium {
      margin-top: 0px;
      max-width: 170px;
      @include respond(tab) {
        margin-top: 0;
        height: unset;
      }
    }

    &--brands {
      max-height: unset;
    }

    &--premium-logo {
      // transform: scale(0.5)
      margin-right: 2rem;
    }

    &--kia-mark {
      width: 112px;
      height: 59px;
    }

    &--hyundai-mark {
      width: 108px;
      height: 57px;
    }

    &--renault-mark {
      width: 55px;
      height: 69px;
    }

    &--skoda-mark {
      width: 69px;
      height: 69px;
    }

    &--ford-mark {
      width: 147px;
      height: 57px;
    }

    &--volkswagen-mark {
      width: 69px;
      height: 69px;
    }

    &--bmw-mark {
      width: 69px;
      height: 69px;
    }

    &--mercedes-mark {
      width: 69px;
      height: 69px;
    }

    &--figure {
      margin-right: 2rem;
    }


    &--car {
    
      @include respond(tab) {
        width: 175px;
      }

      @include respond(desktop) {
        width: 30%;
      }

      &-desk {
        @include respond(tab) {
          width: 45%;
          margin: 0 auto;
        }
      }
    }
  }

  &__btn {
    width: 100%;
    max-width: 250px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      -ms-grid-row: 5;
    }

    @include respond(tab) {
      max-width: 236px;
      width: 80%;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        width: 100%;
      }
    }
  }

  &__text {
    line-height: 16px;
    font-size: 12px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      -ms-grid-row: 3;
    }
    
    @include respond(tab) {
      width: 60%;
      font-size: 1.4rem;
      line-height: 24px;
    }

    &--premium {
      width: 100%;
      display: flex;
      align-items: center;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin: 3rem 0;
      }
    }

    &--pig {
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }

    &--text {
      // max-width: 200px;
      font-size: 14px;

      @include respond(tab) {
        font-size: 20px;
        line-height: 29px;
      }
    }

    &--moto {
      max-width: 150px;
    }
  }

  &__heading {
    font-size: 17px;

    &--premium {
      font-size: 18px;
      display: flex;
      align-items: center;

      @include respond(laptop) {
        font-size: 24px;
      }
    }
  }
}
