.form-lead {
  background: linear-gradient(234.96deg, #7081a0 2.53%, #695876 97.9%);
  border-radius: 5px;
  display: grid;
  gap: 3rem;
  color: white;
  padding: 0 3rem;
  margin: 5rem auto;
  padding-top: 3rem;

  @include respond(laptop) {
    padding-top: 0;
  }

  &--programm {
    
    @include respond(laptop) {
      padding-left: 0;
      padding-right: 0;
    }

  }

  @include respond(laptop) {
    grid-template-columns: max-content 1fr;
    border-radius: 5px;
    -ms-grid-columns: 400px 3rem 1fr;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 3rem;
    text-align: center;

    @include respond(tab) {
      font-size: 24px;
      text-align: left;
    }

    @include respond(laptop) {
      font-size: 30px;
      margin-bottom: 2rem;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    text-align: center;

    @include respond(tab) {
      text-align: left;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
  }

  &__figure {
    align-self: flex-end;
    grid-row: 2;

    @include respond(laptop) {
      grid-row: 1;
    }
  }

  &__form-container {
    align-self: center;
    display: grid;
    // gap: 1rem;
    
    @include respond(laptop) {
      padding: 3rem 0;
      padding-right: 8rem;
      
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 3;
        display: block;
      }
    }
  }

  &__form {
    display: grid;
    // justify-self: flex-start;
    gap: 3rem;

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        -ms-grid-columns: 270px 3rem 270px;
        -ms-grid-rows: 94px 0rem 50px 1rem 20px;
      }
      
    }

    button {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }

    .opd {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 5;
    }

    .form-lead__label {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        display: block;
      }
    }
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    display: grid;
    gap: 1rem;

    @include respond(laptop) {
      gap: 2rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        // display: block;
        -ms-grid-rows: 20px 1rem 50px;
        -ms-grid-columns: 1fr;
      }
    }

    input {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        // margin-top: 1rem;
        -ms-grid-row: 3;
      }
    }

    &:nth-child(2) {
      -ms-grid-column: 3;
    }
  }
}
