.guarantees {
  text-align: center;
  color: white;
  background: linear-gradient(217.42deg, #7081a0 2.47%, #695876 97.9%);
  margin-bottom: 3rem;

  @include respond(tab) {
    margin-bottom: 5rem;
    border-radius: 5px;
  }

  @include respond(laptop) {
    margin-bottom: 8rem;
    border-radius: 5px;
  }

  &__title {
    margin-bottom: 4rem;
  }

  &__card {
    padding: 3rem;

    @include respond(laptop) {
      padding: 5rem;
    }
  }

  &__list {
    display: grid;
    gap: 4rem;

    @include respond(tab) {
      justify-content: center;
    }

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr 1fr;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
       display: flex;
       justify-content: space-between;
      }
    }
  }

  &__list-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    font-size: 12px;
    line-height: 24px;
    text-align: initial;
    gap: 2rem;
    justify-content: center;

    @include respond(laptop) {
      justify-content: center;
      gap: 3rem;
      font-size: 14px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        display: flex;
        justify-content: space-between;
        text-align: left;
      }
    }

    img {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        margin-right: 2rem;
      }
    }
  }
}
