.header-card {
  &__content {
    display: grid;
    margin: 5rem auto;
    gap: 5rem;

    @include respond(tab) {
      grid-template-rows: 350px 1fr;
      gap: 2rem;
    }

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
  }

  &__form {
    display: grid;
    gap: 2rem;
    grid-row: 2;
    position: relative;
    z-index: 4;

    @include respond(tab) {
      justify-self: flex-start;
    }

    @include respond(laptop) {
      grid-row: 1;
      justify-self: initial;
    }
  }

  &__image {
    &--tractor {
      transform: scale(1.2) translateX(20px);

      @include respond(tab) {
        transform: scale(1) translateX(40px);
      }

      @include respond(laptop) {
        transform: scale(1.5) translate(20px, 35px);
      }

      @include respond(desktop) {
        transform: scale(0.9) translate(130px, 80px);
      }
    }

    &--motorcycle {
      transform: scale(1.2) translateX(5px);

      @include respond(tab) {
        transform: scale(1) translateX(20px);
      }

      @include respond(laptop) {
        transform: scale(0.85) translate(20px, 85px);
      }
    }

    &--boat {
      transform: scale(0.85) translateY(-30px);
    }

    &--mostovoy-slider {
      @include respond(tab) {
        // transform: translate(-60px, -80px) scale(1.2);
      }

      @include respond(laptop) {
        transform: scale(1.1);
        padding-bottom: 3000px;
      }
    }

    &--urus-pts {
      @include respond(desktop) {
        transform: translate(40px, 100px) scale(0.9);
      }
    }

    &--urus-big {
      @include respond(laptop) {
        transform: translate(40px, 100px) scale(0.9);
      }
    }

    &--mostovoy-about {
      @include respond(laptop) {
        transform: scale(0.8) translate(100px, 71px);
      }
    }

    &--scania {
      @include respond(laptop) {
        transform: scale(0.95) translate(-30px, -15px);
      }
    }

    &--fj {
      @include respond(laptop) {
        transform: scale(0.85) translate(50px, 100px);
      }
    }

    &--bmw-glass {
      @include respond(laptop) {
        transform: scale(0.85) translate(-300px, 95px);
      }
    }

    &--mostovoy-vip {
      @include respond(laptop) {
        transform: translate(10px, 10px);
      }
    }

    &--urlica-slider {
      @include respond(laptop) {
        transform: scale(0.9) translate(-100px, 125px);
      }
    }

    &--mostovoy-slider-loyal {
      @include respond(laptop) {
        transform: scale(0.9) translate(10px, 90px);
      }
    }
  }

  &__tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(laptop) {
      grid-template-columns: 222px 222px;
      -ms-grid-columns: 222px 2rem 222px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin: 2.5rem auto;
      }
    }
  }

  &__tab {
    border-radius: 5px;
    align-self: center;
    padding: 1rem 1rem;
    display: block;
    position: relative;
    // gap: 1rem;
    @include respond(tab) {
      display: grid;
      padding: 1rem 2rem;
      grid-gap: 1rem;
      -ms-grid-rows: 19px 1rem 38px 1rem 19px;
    }

    @include respond(laptop) {
      grid-gap: 0.5rem;
    }

    &--white {
      background: white;
      color: #3b4144;
      -ms-grid-column: 3;
    }

    &--red {
      background: #fd3400;
      display: grid;
      align-self: stretch;
    }
  }

  &__tab-percent {
    font-weight: 600;
    font-size: 14px;
    -ms-grid-row: 3;

    &--red {
      font-size: 16px;
      display: inline;

      @include respond(tab) {
        font-size: 26px;
        display: block;
      }
    }

    @include respond(tab) {
      font-size: 24px;
    }
  }

  &__tab-text {
    font-weight: 600;
    font-size: 10px;
    display: inline;
    -ms-grid-row: 5;

    &--block {
      display: block;
    }

    &--white {
      font-weight: normal;
    }

    @include respond(tab) {
      font-size: 12px;
    }

    @include respond(laptop) {
      // font-size: 14px;
    }
  }

  &__tab-svg {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(0.7);

    @include respond(tab) {
      transform: scale(1);
    }
  }

  &__intersection-container {
    height: 420px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(86.81deg, #695876 -2.62%, #7081a0 96.69%);
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    z-index: 3;

    @include respond(tab) {
      height: 590px;
    }

    @include respond(laptop) {
      display: none;
    }
  }

  &__intersection {
    position: relative;
    height: 430px;
    width: 100%;
    background: linear-gradient(86.81deg, #695876 -6.58%, #7081a0 96.57%);
    opacity: 0.65;
    clip-path: polygon(0 12%, 100% 0, 100% 50%, 0% 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;

    @include respond(tab) {
      height: 600px;
    }

    @include respond(laptop) {
      display: none;
    }
  }
}