.input-phone {
  font-size: 14px;
  padding: 1.5rem;
  border: 1px solid #edf6fa;
  border-radius: 5px;
  width: 100%;
  font-family: "Montserrat", sans-serif;

  &--no-width {
    width: initial;
  
    @include respond(tab) {
      max-width: 221px;
      box-sizing: border-box;
    }
  }

  @include respond(tab) {
    font-size: 16px;
  }

  &::placeholder {
    color: rgba(59, 65, 68, 0.7);
    font-size: 14px;

    @include respond(tab) {
      font-size: 16px;
    }
  }

  &--left {
    @include respond(tab) {
      border-radius: 5px 0 0 5px;
    }
  }

  &--right {
    @include respond(tab) {
      border-radius: 0 5px 5px 0;
    }
  }

  &--borderless {
    @include respond(tab) {
      border-radius: 0;
    }
  }

  &--question-form {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: none;
    border-radius: 0;
    color: white;
    padding: 1.5rem 0;

    &::placeholder {
      color: white;
      font-weight: 300;
    }
  }

  &:focus {
    outline: none;
  }

  &--slider {
    width: auto;
    padding: 1rem;
  }

  &--form {
    border: 1px solid #dae6eb;
    &::placeholder {
      font-size: 14px;
    }
  }
}
