.link {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-out;

  &:hover {
    cursor: pointer;
    // color: #242424;
  }

  &--phone {
    color:  #3b4144;
    font-weight: 600;
    font-size: 1.2rem;
  }

  &--menu {
    font-size: 14px;

    &:hover {
      color: #fd3400;
    }
  }

  &--active {
    color: #FE3A1D;
  }

  &__faq {
    color: inherit;
    text-decoration: underline;
  }
}
