.logo {
  display: none;
  height: auto;

  @include respond(laptop) {
    width: 180px;
    display: block;
  }

  &--footer {
    display: block;
    width: 140px;

    @include respond(tab) {
      width: 180px;
    }
  }

  &-mobile {
    width: 45px;

    @include respond(laptop) {
      display: none;
    }
  }
}
