.loyal-card {
  background: #edf6fa;
  border-radius: 5px;
  display: grid;
  gap: 5rem;
  padding: 3rem;

  @include respond(laptop) {
    grid-template-columns: max-content 1fr;
    padding: 5rem 6rem;
  }

  &--reverted {

    @include respond(laptop) {
      grid-template-columns: 1fr max-content;
    }
  }
}
