.main-slide {
  color: white;
  height: 568px;

  @include respond(tab) {
    height: 912px;
  }

  @include respond(laptop) {
    height: 599px;
  }

  &--hero {
    height: 100%;
    color: white;
    overflow: hidden;

    @include respond(laptop) {
      padding: 0 3rem;
      // padding-bottom: 80px;
      padding-top: 30px;
      height: 599px;
    }

    @include respond(desktop) {
      // padding-bottom: 100px;
      padding-top: 0px;
      
    }
  }

  &-docs {
    display: none;

    @include respond(laptop) {
      display: block;
      align-self: end;
    }
    
    &__list {
      display: flex;
      justify-content: space-between;
      transform: translateY(-30px);

      @include respond(desktop) {
        transform: translateX(30px);
      }
    }

    &__img {
      max-width: 200px;

      @include respond(desktop) {
        max-width: 240px;
      }
    }

    &__text {
      font-size: 12px;
      line-height: 18px;
      padding-left: 2.5rem;
      font-weight: 300;
      max-width: 220px;
      color: #fff;

      @include respond(desktop) {
        padding-left: 3rem;
      }
    }
  }

  &__content {
    position: relative;
    height: 100%;
    // align-items: flex-start;
    display: grid;
    // grid-template-columns: 40% 1fr;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    &--docs {
      
      @include respond(laptop) {
        grid-template-columns: 340px 60%;
        align-items: center;
        justify-content: space-between;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          display: flex;
        }
      }

      @include respond(desktop) {
        grid-template-columns: 340px 720px;
      }
    }

    &--hero {
      padding-bottom: 3rem;

      @include respond(laptop) {
        padding: 0;
        padding-bottom: 10rem;
      }
    }

    &--o-nas {
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 250px;
        z-index: 3;
        background: linear-gradient(86.81deg, #695876 -2.25%, #7081A0 96.71%);
        clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);

        @include respond(tab) {
          height: 330px;
        }

        @include respond(laptop) {
          display: none;
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 260px;
        z-index: 3;
        background: linear-gradient(86.81deg, #695876 -6.58%, #7081A0 96.57%);
        opacity: 0.65;
        clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);

        @include respond(tab) {
          height: 340px;
        }

        @include respond(laptop) {
          display: none;
        }
      }
    }

    &--programm {
      padding-bottom: 0;

      @include respond(laptop) {
        padding-bottom: 10rem;
      }
    }

    &--gruzovoy,
    &--vodnyi,
    &--zalog,
    &--vyezd,
    &--vip,
    &--programm {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        padding: 6rem 0;
      }
    }   
  }

  &__tab {
    border-radius: 5px;
    position: absolute;
    right: 0;
    align-self: center;
    padding: 0.5rem 1rem;
    
    @include respond(tab) {
      padding: 1rem 2rem;
    }

    &--white {
      background: white;
      color: #3b4144;
      z-index: 5;
      top: 110px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        max-height: 100px;
      }
  
      @include respond(tab) {
        top: -180px;
      }

      @include respond(laptop) {
        top: unset;
        bottom: 75px;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          top: auto;
        }
      }

      @include respond(desktop) {
        bottom: 80px;
      }

      &-top {
        top: 100px;
      
        @include respond(tab) {
          top: 60px;
        }

        @include respond(laptop) {
          bottom: unset;
        }

        @include respond(desktop) {
          // top: unset;
        }
      }
      
    }

    &--red {
      background: #fd3400;
      z-index: 4;
      top: 130px;
      right: 10px;
      padding-right: 9rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        max-height: 120px;
      }
    
      @include respond(tab) {
        top: -120px;
        right: 30px;
      }

      @include respond(laptop) {
        top: unset;
        bottom: 0;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          top: auto;
        }
      }

      @include respond(desktop) {
        // transform: translate(-30px, 30px);
      }

      &-top {
      
        @include respond(tab) {
          top: 115px;
        }

        @include respond(laptop) {
          top: 130px;
          bottom: unset;

          @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
            bottom: auto;
          }
        }

        @include respond(desktop) {
        }
      }

    }

  
  }

  &__tab-percent {
    font-weight: 500;
    font-size: 14px;

    @include respond(tab) {
      font-size: 24px;
    }

    &--red {
      font-size: 16px;

      @include respond(tab) {
        font-size: 36px;
      }
      @include respond(laptop) {
        font-size: 26px;
      }
      @include respond(desktop) {
        font-size: 36px;
      }
    }

  }

  &__tab-text {
    font-weight: 500;
    font-size: 10px;

    &--white {
      font-weight: normal;
    }

    @include respond(tab) {
      font-size: 14px;
    }

    // @include respond(laptop) {
    //   font-size: 14px;
    // }

    &--small {
      font-size: 12px;
    }

    &--hide {
      display: none;
      @include respond(tab) {
        display: block;
      }
    }
  }

  &__tab-svg {
    position: absolute;
    top: 5px;
    right: 5px;
    transform: scale(0.7);

    @include respond(tab) {
      transform: scale(1);
      top: 10px;
      right: 10px;
    }
  }

  &__form {
    padding-top: 22rem;
    display: grid;
    gap: 1rem;
    z-index: 5;
    align-self: flex-end;
    position: relative;

    @include respond(laptop) {
      padding-top: 0;
      gap: 2.5rem;
      align-self: center;
      transform: translateY(8px);

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
        transform: translateY(120px);
      }
    }

    form {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 2.5rem;
      }
    }

    @include respond(desktop) {
      transform: translateY(40px);

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        transform: translateY(120px);
      }
    }

    &--pts-legkovoy {
      @include respond(laptop) {
        transform: translateY(-10px);
      }

      @include respond(desktop) {
        transform: translateY(25px);
      }
    }

    &--vodnyi,
    &--zalog,
    &--gruzovoy,
    &--vyezd,
    &--vip,
    &--programm {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        transform: none;
      }
    }

    &--spectehnika,
    &--moto,
    &--ur,
    &--docs {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        transform: translateY(40px);
      }
    }

    &--o-nas {
      grid-template-columns: 1fr 1fr;
      max-width: 270px;
      margin: 0 auto;
      padding-top: 32rem;
      padding-bottom: 1rem;
     
      @include respond(tab) {
        max-width: unset;
       
        padding-bottom: 0;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          max-width: 320px;
        }
      }

      @include respond(laptop) {
        grid-template-columns: 1fr;
        padding-top: 0;
        margin-left: 0;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          display: block;
          transform: translateY(40px);
        }
      }

      figure {
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          margin-top: 2.5rem;
        }
      }
    }

    &--vyezd {
      @include respond(laptop) {
        max-width: 56%;
      }
    }

    &--about-text {
      grid-column: 1 / 3;
      font-size: 12px !important;
      line-height: 18px !important;

      @include respond(tab) {
       
        font-size: 18px !important;
        line-height: 32px !important;
      }

      @include respond(laptop) {
        grid-column: 1;
      }
    }

    &--about-heading {
      max-width: 100px;

      @include respond(tab) {
        line-height: 50px;
      }

      @include respond(laptop) {
        line-height: unset;
        max-width: unset;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          line-height: auto;
          max-width: 100%;
          margin: 2.5rem 0;
        }
      }
    }

    &--docs {
      padding-top: 2rem;
      max-width: unset;
      align-self: flex-start;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        max-width: auto;
      }

      .heading-1 {
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          margin-bottom: 2rem;
        }
      }
    }

    &--programm {
      padding-top: 0;
      margin-top: 25rem;
      padding-bottom: 3rem;

      @include respond(laptop) {
        margin-top: 0rem;
        padding-bottom: 0rem;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -2rem;
        width: 116%;
        height: calc(100% + 40px);
        z-index: -1;
        background: linear-gradient(86.81deg, #695876 -2.25%, #7081A0 96.71%);
        clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);

        @include respond(tab) {
          // height: 330px;
        }

        @include respond(laptop) {
          display: none;
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -2rem;
        width: 116%;
        height: calc(100% + 50px);
        z-index: -1;
        background: linear-gradient(86.81deg, #695876 -6.58%, #7081A0 96.57%);
        opacity: 0.65;
        clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);

        @include respond(tab) {
          // height: 340px;
        }

        @include respond(laptop) {
          display: none;
        }
      }
    }

    .opd {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 1rem;
      }
    }

  }

  &__description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin-top: 2.5rem;
    }

    @include respond(tab) {
      font-size: 18px;
      line-height: 32px;
      padding-bottom: 1rem;
    }

    @include respond(laptop) {
      width: 35%;
      padding-bottom: 0rem;
    }
  }

  &__image {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include respond(tab) {
      width: 540px;
    }

    @include respond(laptop) {
      top: initial;
      left: initial;
      bottom: 0;
      right: 0;
      display: block;
      width: initial;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        top: auto;
        left: auto;
        width: auto;
      }
    }

    &--1 {
      
      @include respond(tab) {
        left: 7%;
      }
      @include respond(laptop) {
        left: unset;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          left: auto;
        }
      }
    }

    &--2 {
      max-width: 717px;

      @include respond(laptop) {
        right: 11rem;
      }
    }

    &--3 {
      @include respond(laptop) {
        right: 5%;
      }
    }

    &--4 {
      @include respond(tab) {
        top: 15%;
        left: 0;
        width: 670px;
      }

      @include respond(laptop) {
        top: 6%;
        right: -9%;
        left: unset;
        width: unset;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          left: auto;
          width: auto;
        }
      }
    }

    &--5 {
      @include respond(tab) {
        top: 10%;
        left: 0;
        width: 670px;
      }
      @include respond(laptop) {
        top: 7%;
        right: -5%;
        left: unset;
        width: unset;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          left: auto;
          width: auto;
        }
      }
    }

    &--pts-legkovoy {
      @include respond(tab) {
        top: -5rem;
        left: unset;
        right: 10rem;
        max-width: 433px;
      }

      @include respond(laptop) {
        max-width: unset;
        left: unset;
        right: -50px;
        top: 0px;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          max-width: 100%;
          left: auto;
        }
      }
    }

    &--o-nas {
      left: calc(50% - 315px);
      width: 500px;

      @include respond(laptop) {
        left: unset;
        right: 0;
        max-width: 1000px;
        width: 100%;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          left: auto;
        }
      }
    }

    &--gruzovoy {
      @include respond(tab) {
        max-width: 451px;
      }

      @include respond(laptop) {
        max-width: unset;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          max-width: 100%;
        }
      }

      @include respond(desktop) {
        right: -9rem;
      }
    }

    &--spectehnika {
      left: 2rem;
      @include respond(tab) {
        max-width: 440px;
        left: unset;
        right: 0;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          left: auto;
        }
      }

      @include respond(laptop) {
        max-width: unset;
        right: -29rem;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          max-width: 100%;
        }
      }
    }

    &--moto {
      // left: 2rem;
      @include respond(tab) {
        max-width: 540px;
        left: unset;
        right: 0;
        top: -4rem;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          left: auto;
        }
      }

      @include respond(laptop) {
        max-width: unset;
        right: -19rem;
        top: 0;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          max-width: 100%;
        }
      }
    }

    &--vodnyi {
      
      @include respond(laptop) {
        right: -9rem;
      }
    }

    &--zalog {
     
      @include respond(laptop) {
        max-width: unset;
        right: -8rem;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          max-width: auto;
        }
      }
    }

    &--legkovoy {
      @include respond(tab) {
        right: 0rem;
        bottom: 0rem;
        left: unset;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          left: auto;
        }
      }

      @include respond(laptop) {
        position: absolute;
        right: -20rem;
      }
    }

    &--vyezd {
      right: 0rem;
      left: unset;
      width: 250px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        left: auto;
      }

      @include respond(tab) {
        width: 340px;
      }

      @include respond(laptop) {
        width: unset;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          width: auto;
        }
      }

      @include respond(desktop) {
        right: -9rem;
      }
    }

    &--docs {
      @include respond(laptop) {
        right: -14rem;
      }
    }

    &--programm {
      max-width: 300px;
      left: unset;
      right: 0;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        left: auto;
      }

      @include respond(tab) {
        max-width: unset;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          max-width: 100%;
        }
      }

      @include respond(laptop) {
        left: unset;
        right: -27rem;
        // top: 0;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          left: auto;
        }
      }
    }
  }

  &__intersection-container {
    height: 380px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(86.81deg, #695876 -2.62%, #7081a0 96.69%);
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    z-index: 3;

    @include respond(tab) {
      height: 540px;
    }

    @include respond(laptop) {
      display: none;
    }
  }

  &__intersection {
    position: relative;
    height: 390px;
    width: 100%;
    background: linear-gradient(86.81deg, #695876 -6.58%, #7081a0 96.57%);
    opacity: 0.65;
    clip-path: polygon(0 12%, 100% 0, 100% 50%, 0% 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;

    @include respond(tab) {
      height: 550px;
    }

    @include respond(laptop) {
      display: none;
    }
  }

  
}
