.menu {
  background: #ffffff;
  position: absolute;
  top: 115px;
  left: 0;
  width: 100vw;
  // height: 160px;
  z-index: 5;
  display: none;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);

  &__overlay {
    position: absolute;
    z-index: 3;
    height: 1000vh;
    width: 100vw;
    display: none;
    top: 0;
    left: 0;
  }

  &__content {
    position: relative;
    z-index: 5;
  }

  &--visible {
    display: block;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 5rem 0;
    gap: 3rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      grid-template-columns: 1fr 3rem 1fr 3rem 1fr;
    }

    li:nth-child(2) {
      -ms-grid-column: 3;
    }

    li:nth-child(3) {
      -ms-grid-column: 5;
    }

    li:nth-child(4) {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 3rem;
      }
    }

    li:nth-child(5) {
      -ms-grid-column: 3;
      -ms-grid-row: 2;
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 3rem;
      }
    }

    li:nth-child(6) {
      -ms-grid-column: 5;
      -ms-grid-row: 2;
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 3rem;
      }
    }
  }

  &__list-item {
    &--image {
      display: grid;
      gap: 25px;
      grid-template-columns: 120px 100px;
      align-items: center;
      border: none;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        align-items: flex-start;
      }

      span {
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          -ms-grid-column: 3;
          max-width: 120px;
          display: block;
          margin-left: 25px;
        }
      }
    }
  }

  &__figure {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  &__image {
    display: block;
    max-width: 120px;
  }
}
