.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overscroll-behavior: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  &--opd {
    display: none;
    overflow-y: scroll;
    z-index: 99999;
  }

  &--form {
    display: none;
  }

  &__opd {
    &--block {
      margin-bottom: 0 !important;
    }
  }

  &__content {
    // width: 100vw;
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 60px 20px;

    @include respond(tab) {
      padding: 60px 40px;
    }

    @include respond(desktop) {
      max-width: 718px;
      padding: 90px;
    }

    &--opd {
      text-align: left;

      @include respond(laptop) {
        max-width: 800px;
        padding: 50px;
        margin: 5rem auto;
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: 13px;
    color: #3B4144;
    margin-bottom: 20px;

    @include respond(tab) {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 30px;
    }
  }

  &__title {
    color: #FD4209;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;

    @include respond(tab) {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 24px;
    color: #3B4144;
    margin-bottom: 30px;

    @include respond(tab) {
      margin-bottom: 40px;
    }
  }

  &__btn {
    max-width: 252px;
    margin: 0 auto;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;

    @include respond(desktop) {
      top: 3rem;
      right: 3rem;
    }
  }
}
