.most-premium {
  background: #edf6fa;
  margin-bottom: 4rem;
  // display: none;
  padding-top: 3rem;

  @include respond(tab) {
    margin-bottom: 8rem;
  }

  @include respond(laptop) {
    display: block;
    padding-top: 0;
  }

  &__content {
    padding-bottom: 0rem;
    overflow: hidden;

    @include respond(tap) {
      padding-bottom: 5rem;
    }

    @include respond(laptop) {
      padding-bottom: 8rem;
    }
  }

  &__content-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-bottom: 2rem;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 0;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
      }
    }
  }

  &__content-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__paragraph {
    max-width: 500px;
    padding-bottom: 2rem;
    
    @include respond(laptop) {
      max-width: 544px;
      padding-bottom: 5rem;
    }
  
  }

  &__slider-desk {
    display: none;
    @include respond(tab) {
      display: block;
    }
  }
}
