.news-feed {
  grid-row: 1 / span 2;
  grid-column: 5 / span 2;
  border: 1px solid #dae6eb;
  border-radius: 5px;
  display: none;

  @include respond(laptop) {
    display: grid;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 2rem;
    border-bottom: 1px solid #edf6fa;
  }

  &__content {
    padding: 25px 25px 0 25px;
  }

  &__item {
    padding: 1rem 0;
    &:not(:last-child) {
      border-bottom: 1px solid #edf6fa;
    }
  }
}
