.offer-card {
  // width: 555px;
  height: 420px;
  background: black;
  border-radius: 5px;
  color: white;
  background: url(/offer-audi.png) #304198;

  &--2 {
    background: #fd3400;
  }

  &__content {
    display: grid;
    padding: 5rem 2rem;
    grid-template-rows: max-content 1fr;

    &--2 {
      padding: 2.5rem 0;
      justify-content: center;
      justify-items: center;
      gap: 5rem;
      font-weight: 500;
      font-size: 16px;
    }
  }

  &__title {
    grid-column: 2;
    font-weight: 600;
    font-size: 44px;

    &--2 {
      font-weight: 600;
      font-size: 36px;
    }
  }

  &__number {
    grid-column: 1;
    grid-row: 1 / span 2;
    font-size: 288px;
    line-height: 225px;
  }

  &__text {
    grid-column: 2;
    grid-row: 2;
    font-weight: 500;
    font-size: 16px;
  }
}
