.product-card {
  height: 88px;
  width: 100%;
  border: 1px solid #e4f1f6;
  border-radius: 5px;
  position: relative;
  padding: 5rem 0 0 1.5rem;

  &--big {
    height: 130px;
  }

  &__img {
    border-radius: 0 5px 5px 0;
    max-width: 94px;
    transform: translateX(20px);

    @include respond(tab) {
      transform: translateX(0px);
    }
  }

  &__p {
    font-size: 14px;
    line-height: 24px;
    color: #3b4144;
    margin-top: 20px;

    @include respond(tab) {
      margin-top: 30px;
    }
  }

  &__icon {
    position: absolute;
    top: -15%;
    left: 20px;
  }

  &__title {
    color: #474d50;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;

    &--big {
      display: none;

      @include respond(desktop) {
        display: block;
      }

      img {
        max-width: 168px;
      }
    }

    &--small {
      
      @include respond(desktop) {
        display: none;
      }

      img {
        max-width: 94px;
      }
    }
  }

  
}
