.product-form {
  background: linear-gradient(225.37deg, #6e7e9c -72.47%, #695876 89.64%);

  color: white;
  overflow: hidden;
 
  @include respond(laptop) {
    margin-bottom: 7rem;
    border-radius: 5px;
  }

  @include respond(desktop) {
    margin-bottom: 9rem;
  }

  &__card {
    display: grid;
    // justify-items: center;
    // text-align: center;
    gap: 2rem;

    @include respond(laptop) {
      grid-template-columns: 35% 1fr;
      text-align: initial;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        align-items: flex-end;
      }
    }
  }

  &__title {
    @include respond(laptop) {
      // margin-bottom: 2rem;
    }
  }

  &__form {
    gap: 1rem;
    // padding: 2rem 0;

    @include respond(laptop) {
      // max-width: 70%;
    }
  }

  &__picture {
    // align-self: flex-end;
    grid-row: 2;
    max-width: 300px;

    @include respond(laptop) {
      grid-row: 1;
      max-width: unset;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-right: 7rem;
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    /* padding-top: 5rem; */
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 4rem 0rem;
    justify-self: flex-start;

    @include respond(laptop) {
      padding: 4rem 3rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }
  }

  &__tractor {
    transform: translateX(-20px);

    @include respond(laptop) {
      transform: translateX(-50px);
    }

    @include respond(desktop) {
      transform: translateX(0);
    }
  }

  &__boat {
    margin-left: -2rem;

    @include respond(tab) {
      margin-left: -3rem;
    }

    @include respond(laptop) {
      margin-top: 6rem;
    }

    @include respond(desktop) {
      margin-left: 0rem;
    }

  }

  &__p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }

  &__img {
    max-width: 300px;
    @include respond(desktop) {
      margin-left: 70px;
     
    }
  }

  &__form {
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
      max-width: 100%;
      margin: 2rem 0;
    }
  }
}
