.product-card-swiper {
  height: 85px;
  border: 1px solid #e4f1f6;
  border-radius: 5px;
  grid-column: 1 / -1;
  grid-row: 2;

  &__grid {
    display: grid;
    grid-template-columns: 16px max-content 1fr;
    grid-template-rows: 20px 1fr;
    width: 200px;
    overflow-x: hidden;
  }

  &__icon {
    grid-column: 2;
    grid-row: 1 / span 2;
    z-index: 2;
  }

  &__title {
    color: #474d50;
    padding: 5rem 0 0 1.5rem;
  }

  &__image {
    grid-row: 2;
    grid-column: 3;
    justify-self: flex-end;
  }
}

.swiper-slide--product {
  width: 195px;
}
