.product-slide {
  background: white;
  border-radius: 5px;
  position: relative;

  @include respond(laptop) {
    width: 711px;
    height: 330px;
  }

  &__content {
    padding: 4rem;
    display: grid;
    gap: 10px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
      display: block;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    transform: translateY(10px);

    @include respond(laptop) {
      width: 80%;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
  }
}
