.question {
  border-bottom: 1px solid #edf6fa;
  padding: 2rem 0;

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  &__question-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 80%;

    @include respond(tab) {
      font-size: 16px;
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    &--pts {
      border: 1px solid white;
      margin-left: 2rem;
    }

    &-dash {
      background: black;
      height: 1px;
      width: 14px;
      grid-row: 1;
      grid-column: 1;
      transition: all 0.2s ease-out;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
        transform: translate(5px, 11px);
      }

      &--pts {
        border: 0.5px solid white;
        width: 14px;
      }

      &--vertical {
        transform: rotate(90deg);

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          display: block;
          transform: rotate(90deg) translate(10px, -5px);
        }
      }
    }
  }

  &__answer {
    height: auto;
    margin-top: 1.5rem;
    width: 90%;
    transition: all 0.32s ease-out;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;

    @include respond(tab) {
      font-size: 14px;
      line-height: 24px;
      width: 80%;
    }

    &--closed {
      height: 0;
      // display: none;
    }
  }

  &__list {
    overflow: hidden;
    transition: all 0.2s ease-out;

    &--opened {
      margin-top: 3rem;
    }
  }
}
