.question-form {
  background: linear-gradient(292.86deg, #7081a0 -1.8%, #695876 95.15%);
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 12px;
  margin-top: 2rem;

  @include respond(tab) {
    font-size: 14px;
    line-height: 24px;
    display: grid;
    grid-template-columns: max-content 1fr;
    text-align: left;
    background: linear-gradient(335.99deg, #7081a0 -1.8%, #695876 95.15%);

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      grid-template-columns: 295px 1fr;
    }
  }

  @include respond(desktop) {
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 1fr;
    max-height: 640px;
    transform: translateY(-65px);

    -ms-grid-column: 3;
  }

  &__content {
    padding: 3rem;
    display: grid;
    row-gap: 2rem;

    @include respond(tab) {
      padding: 6rem 3rem;
      width: 90%;
      gap: 2rem;
      grid-template-columns: 1fr min-content;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 2;
        grid-template-columns: 1fr 2rem 61px;
        grid-template-rows: 30px 2rem 1fr 2rem 20px 2rem 18px 5px 1fr 2rem 1fr;
      }
    }

    @include respond(desktop) {
      justify-self: center;
      padding: 4rem 1rem;
    }

    p:nth-child(1) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    p:nth-child(2) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    a:nth-child(3) {
      -ms-grid-row: 5;
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }

    p:nth-child(4) {
      -ms-grid-row: 7;
    }

    .opd {
      -ms-grid-row: 11;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    } 
  }

  &__figure {
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 5px;

    @include respond(tab) {
      align-self: flex-end;
      grid-column: 1;
      grid-row: 1;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        align-items: flex-end;
      }
    }

    @include respond(desktop) {
      grid-row: 3;
      grid-column: 1 / span 2;
    }
  }

  &__image {
    display: block;
  }

  &__heading {
    @include respond(tab) {
      grid-column: 1 / span 2;
      grid-row: 1;
      font-size: 24px;
    }
    // @include respond(desktop) {
    //   font-size: 24px;
    // }
  }

  &__text {
    @include respond(tab) {
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    @include respond(desktop) {
      width: 80%;
    }
  }

  &__input {
    @include respond(tab) {
      grid-column: 1;
      grid-row: 5;
      -ms-grid-row: 9;
    }

    &--text {
      @include respond(tab) {
        font-weight: 500;
        font-size: 14px;
        grid-column: 1 / span 2;
        grid-row: 4;
        margin-bottom: -12px;
      }
    }
  }

  &__btn {
    @include respond(tab) {
      grid-column: 2;
      grid-row: 5;
      align-self: flex-end;
      padding: 1rem 2rem;
      -ms-grid-row: 9;
      -ms-grid-column: 3;
    }

    span {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        transform: translateX(-20px);
      }
    }
  }

  &__btn-text {
    @include respond(tab) {
      display: none;
    }
  }

  &__phone {
    font-weight: 600;
    font-size: 18px;
    // margin: 1rem 0;
  }
}
