.review-card {
  border-radius: 5px;
  background: white;
  box-shadow: 0px 4px 10px rgba(42, 114, 146, 0.1);
  padding: 3rem;
  width: 70%;
  margin: 0 auto;
  height: 210px;

  @include respond(tab) {
    width: 400px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      width: 470px;
      height: 270px;
    }
  }

  @include respond(desktop) {
    width: 420px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      width: 470px;
      height: 270px;
    }
  }

  &--reviews {
    width: 100%;
    height: auto;
  }

  &__header {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
    }

    &--reviews {
      gap: 0rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    @include respond(tab) {
      font-size: 14px;
    }
  }

  &__title-sum {
    display: block;

    @include respond(tab) {
      display: inline;
    }
  }

  &__title-author {
    font-size: 10px;
    font-weight: normal;
    margin-top: 5px;
    display: block;

    @include respond(tab) {
      font-size: 12px;
    }
  }

  &__avatar {
    border-radius: 50%;
    // background: linear-gradient(0deg, #edf6fa, #edf6fa), #e83f3f;
    width: 60px;
    height: 60px;
    overflow: hidden;
    object-fit: cover;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin-right: 2rem;
    }
  }

  &__content {
  }

  &__quotes {
    font-weight: 300;
    font-size: 144px;
    color: rgba(0, 0, 0, 0.2);
  }

  &__text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 2rem;

    @include respond(tab) {
      font-size: 14px;
      line-height: 24px;
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 3rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
        padding-left: 8rem;
      }

      &::before {
        content: "\201C";
        font-weight: 300;
        font-size: 144px;
        color: rgba(0, 0, 0, 0.2);
        padding-top: 40px;
        transform: translateY(10px);

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          position: absolute;
          left: 6rem;
        }
      }
    }
  }

  &__btn {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 12px;
  }
}
