.slider-card {
  background: linear-gradient(
      67.34deg,
      #695876 3.05%,
      rgba(88, 99, 118, 0) 97.75%
    ),
    #7081a0;
  height: 100%;
  overflow: hidden;

  &__content {
    padding: 2rem;
    color: white;
    display: grid;
    position: relative;
    grid-template-rows: 260px 1fr;

    @include respond(tab) {
      padding: 4rem 3rem;
      grid-template-columns: 10% 1fr;
      grid-template-rows: 350px 1fr;
    }

    @include respond(laptop) {
      grid-template-columns: 45% 1fr;
      column-gap: 2rem;
      max-width: 1140px;
      margin: 0 auto;
      padding: 8rem 3rem;
    }

    @include respond(desktop) {
      padding: 8rem 0;
    }
  }

  &__register {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem;

    @include respond(tab) {
      grid-row: 1;
      grid-column: 1;
    }

    @include respond(laptop) {
      grid-row: 1;
      grid-column: 2;
    }
  }

  &__register-image {
    width: 60px;

    @include respond(tab) {
      width: 80px;
    }
  }

  &__cbrf {
    font-weight: 500;
    font-size: 14px;
    color: rgba(252, 253, 255, 0.8);
    transform: translateY(4px);
    width: 80%;

    @include respond(tab) {
      width: 38%;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    width: 280px;

    @include respond(tab) {
      font-size: 18px;
      line-height: 28px;
      width: 300px;
    }
  }

  &__image-grid {
    display: grid;
    margin-top: 1.5rem;
    position: absolute;
    top: 0;
    right: 15px;

    @include respond(tab) {
      grid-row: 1;
    }

    @include respond(laptop) {
      grid-row: 1;
      grid-column: 2;
    }
  }

  &__figure {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    justify-self: flex-end;
  }

  &__image {
    width: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(195, 208, 233, 0.2) 51.04%,
      rgba(69, 102, 156, 0) 100%
    );

    transform: scale(1.5) translateY(20px);

    display: block;

    @include respond(phone) {
      transform: scale(1.4);
    }

    @include respond(tab) {
      transform: scale(1.3) translateY(-70px);
    }

    @include respond(laptop) {
      transform: scale(1.7) translate(-20px, -20px);
    }

    &--cargo {
      transform: scale(2.5) translate(-40px, 10px);

      @include respond(tab) {
        transform: scale(2) translate(-80px, 40px);
      }

      @include respond(laptop) {
        transform: scale(3) translate(-70px, 35px);
      }
    }

    &--boat {
      transform: scale(1.4) translateY(-10px);

      @include respond(tab) {
        transform: scale(1.2) translateY(-20px);
      }

      @include respond(laptop) {
        transform: scale(1.5) translateY(20px);
      }
    }
  }

  &__form-grid {
    margin-top: -4rem;
    z-index: 3;

    @include respond(tab) {
      grid-column: 1 / span 2;
      margin-top: 0;
    }

    @include respond(laptop) {
      grid-row: 1;
      grid-column: 1;
    }
  }

  &__form {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr;
      width: 60%;
      margin-top: 3rem;
    }

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr;
      width: auto;
      margin-top: 4rem;
    }
  }

  &__tab {
    grid-row: 1;
    grid-column: 1;
    justify-self: flex-end;
    border-radius: 5px;
    align-self: center;
    z-index: 3;
    padding: 0.5rem 1rem;
    display: grid;
    z-index: 4;

    @include respond(tab) {
      align-self: flex-start;
    }

    &--white {
      background: white;
      color: #3b4144;
      transform: translate(5px, 15px);
      z-index: 5;

      @include respond(phone) {
        transform: translate(5px, -10px);
      }

      @include respond(tab) {
        transform: translate(-320px, 250px);
      }
    }

    &--red {
      background: #fd3400;
      transform: translate(-10px, 35px);

      @include respond(phone) {
        transform: translate(-10px, 15px);
      }

      @include respond(tab) {
        transform: translate(-350px, 280px);
      }
    }
  }

  &__tab-percent {
    font-weight: 600;
    font-size: 14px;

    &--red {
      font-size: 16px;

      @include respond(tab) {
        font-size: 26px;
      }
    }

    @include respond(tab) {
      font-size: 24px;
    }
  }

  &__tab-text {
    font-weight: 600;
    font-size: 10px;

    &--white {
      font-weight: normal;
    }

    @include respond(tab) {
      font-size: 12px;
    }

    @include respond(laptop) {
      font-size: 14px;
    }
  }

  &__tab-svg {
    position: absolute;
    top: 5px;
    right: 5px;
    transform: scale(0.7) translateY(-7px);

    @include respond(tab) {
      transform: scale(1) translateY(0);
    }
  }

  &__btn {
    padding: 1rem 0;
  }

  &__title {
    @include respond(laptop) {
      width: 50%;
      line-height: 49px;
      margin-bottom: 4rem;
    }
  }
}


.tab-white--mostovoy {
  @include respond(desktop) {
    transform: translate(-150px, 200px);
  }
}

.tab-red--mostovoy {
  @include respond(desktop) {
    transform: translate(-180px, 230px);
  }
}

.tab-white--vip {
  @include respond(desktop) {
    transform: translate(-320px, 370px);
  }
}

.tab-red--vip {
  @include respond(desktop) {
    transform: translate(-350px, 400px);
  }
}

.tab-white--all {
  @include respond(desktop) {
    transform: translate(-145px, 225px);
  }
}

.tab-red--all {
  @include respond(desktop) {
    transform: translate(-175px, 275px);
  }
}
