.small-cards {
  display: grid;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem;

  @include respond(laptop) {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 7rem;
    margin-top: 0;
    // margin-top: 7rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
      display: flex;
      justify-content: space-between;
    }
  }
}
