.small-card {
  border-radius: 5px;
  overflow: hidden;

  &--blue {
    background: #edf6fa;
  }

  &--violet {
    background: linear-gradient(247.45deg, #6e7e9c -75.82%, #695876 93.61%);
    color: white;
  }

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    max-width: 555px;
    min-width: 525px;
  }

  &__content {
    display: grid;
    gap: 1rem;
    align-content: stretch;
    align-items: center;
    height: 100%;
    grid-template-rows: 1fr;
    padding-top: 2rem;

    @include respond(tab) {
      grid-template-columns: 35% 1fr;
    }
  }

  &__image-container {
    position: relative;
    padding-top: 56.25%;
  }

  &__image {
    width: 60%;

    @include respond(tab) {
      width: 100%;
    }
  }

  &__text {
    padding: 0 3rem;
    display: grid;
    gap: 2rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    
    grid-template-rows: 1fr 50px;
    grid-row: 1;
    text-align: center;

    @include respond(tab) {
      text-align: initial;
      grid-column: 2;
    }

    @include respond(laptop) {
      grid-template-rows: 1fr 1fr;
      gap: 3rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        grid-template-rows: 1fr 3rem 1fr;
      }
    }

    @include respond(desktop) {
      font-size: 24px;
    }

    p {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        transform: translateY(30px);
      }
    }

    a {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        width: 235px;
        -ms-grid-row: 3;
      }
    }
  }
}
