.small-form {
  background: #edf6fa;
  border-radius: 5px;
  padding: 3rem 4rem;
  display: grid;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  gap: 2rem;
  margin-bottom: 2rem;

  @include respond(tab) {
    grid-template-columns: 1fr max-content;
    -ms-grid-columns: 1fr 2rem 210px;
  }

  .btn {
    -ms-grid-column: 3;
  }

  &--grid-3 {
    @include respond(tab) {
      grid-template-columns: 1fr repeat(2, max-content);
      -ms-grid-columns: 1fr 2rem 218px 2rem 218px;
      -ms-grid-rows: 1fr 2rem 1fr;
    }

    input {
      -ms-grid-column: 3;
    }

    .btn {
      -ms-grid-column: 5;
    }

    .opd {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;
    }
  }
}
