.small-slide {
  color: white;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    width: 235px;
  }

  &__content {
    display: grid;
    align-items: center;
    padding-left: 23px;
    height: 100%;
    // max-width: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    z-index: 5;
    position: relative;
    grid-template-columns: 50% 1fr;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    p {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        width: 50%;
      }
    }

    img {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        max-width: 106px;
      }
    }
  }

  &--violet {
    background: linear-gradient(97.45deg, #6a5a78 -1.43%, #6f819f 97.99%);
  }

  &--teal {
    background: linear-gradient(72.72deg, #3d7c8f 4.86%, #399cbb 91.26%);
  }

  &--green {
    background: linear-gradient(66.19deg, #3d8f72 4.86%, #39bb8c 91.26%);
  }

  &--orange {
    background: linear-gradient(66.19deg, #8f3d3d 4.86%, #bb6039 91.26%);
  }

  &--yellow {
    background: linear-gradient(66.19deg, #a58764 4.86%, #d7bb73 91.26%);
  }

  &--sky {
    background: linear-gradient(66.19deg, #8ba9b6 4.86%, #aac8d5 91.26%);
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &__image {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
  }

  &__figure {
    display: grid;
    max-height: 90px;
    // height: 100%;

    &--centered {
      align-self: center;
    }

    &--bottom {
      align-self: flex-end;
    }
  }
}
