.subscribe {
  max-width: 780px;
  padding: 0 1.5rem;
  margin: 0 auto;
  transform: translateY(-40%);
  margin-bottom: -5rem;

  @include respond(tab) {
    margin-bottom: 0rem;
    // transform: translateY(-40%);
    padding: 0 3rem;
  }

  &--no-transform {
    transform: none;
    margin: 0;
    padding: 0;
  }

  &__content {
    background: white;
    box-shadow: 0px 4px 10px rgba(42, 114, 146, 0.1);
    border-radius: 5px;
    padding: 3rem;
    display: grid;
    gap: 2rem;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    max-width: 1141px;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr max-content;
      text-align: left;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 2rem 1fr 2rem 1fr;
        grid-template-rows: 50px 2rem 1fr;
        width: 750px;
      }
    }

    input {
      -ms-grid-column: 3;
    }
  }

  &__btn {
    padding: 0 0.5rem;
    -ms-grid-column: 5;

    @include respond(tab) {
      padding: 0 2rem;
    }
  }

  &__phone {
    position: relative;
    &:before {
      content: "Ваш номер телефона";
      position: absolute;
      font-family: "Montserrat", sans-serif;
      top: -25px;
      font-weight: 400;
      font-size: 14px;
    }
  }
}
