.swiper-slide--main {
  height: 100%;

  @include respond(tab) {
    height: 912px;
  }

  @include respond(laptop) {
    height: 650px;
  }
}

.swiper-slide--linked {
  height: 90px;
  width: 223px;
}

.swiper-slide--review {
  height: 300px;
  width: 60%;

  @include respond(tab) {
    width: 480px;
  }
}

.swiper-slide--article {
  height: 100%;
}

.swiper-slide--zalog {

}

// .swiper-slide--docs {
//   max-width: 180px;
//   margin: 0 auto;
  
// }

.linked-container {
  width: 100%;
  position: absolute;
  padding: 2.5rem 3rem;
  padding-top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  display: none;

  @include respond(tab) {
    display: block;
  }
}

.ie-slider-main-arrows {
  -ms-grid-column: 2;
}

.linked-slides {
  display: none;

  @include respond(tab) {
    display: grid;
    width: 100%;
    grid-template-columns: 80% 20%;
    row-gap: 25px;
    margin: 0 auto;
  }

  @include respond(laptop) {
    grid-template-columns: 85% 14%;
    max-width: 1141px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
      overflow: hidden;
      justify-content: space-between;
    }
  }

  &__border {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    grid-row: 2;
    grid-column: 1 / -1;

    @include respond(desktop) {
      grid-row: 1;
    }
  }

  &-container {
    grid-column: 1 / -1;
    grid-row: 3;

    @include respond(desktop) {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

.swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  @include respond(tab) {
    display: none;
  }
}

.swiper-pagination-products-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 20px;
  position: relative;
}

.swiper-pagination-products-bullet {
  outline: none;
  cursor: pointer;
  background: rgba(59, 65, 68, 0.15);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: 0.32s ease-out;

  &--active {
    width: 16px;
    height: 16px;
    background: transparent;
    border: 2px solid #3b4144;
  }

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.swiper-pagination-fraction {
  display: none;

  @include respond(tab) {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 600;
  }
}

.swiper-pagination-bullet {
  border: 2px solid #ffffff;
  border: none;
  box-shadow: none;
  transition: 0.32s ease-out;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  &-active {
    border: 2px solid #ffffff;
    background: none;
    width: 16px;
    height: 16px;
  }
}

.swiper__navigation-container {
  display: grid;
  grid-template-columns: 1fr 36px 1fr;
  column-gap: 2rem;
  align-items: center;
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  text-align: center;

  @include respond(desktop) {
    grid-row: 2;
    grid-column: 2;
  }
}

.swiper-button {
  opacity: 0.7;
  transition: all 0.32s ease-out;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.arrow--left {
  transform: rotate(180deg);
}

.bullets-cases {
  .swiper-pagination-bullet {
    
    &-active {
      border: 2px solid #3B4144;
    }
  }
}

.swiper-sales {
  overflow: hidden;
}

.ie-slider-main-arrows {
  display: -ms-grid;
  grid-template-columns: 1fr 2rem 36px 2rem 1fr;
  margin-top: 24px;

  span {
    color: rgba(255,255,255,0.7);
    font-size: 16px;
    font-weight: 600;
  } 

}

.ie-slider-main-nums {
  -ms-grid-column: 3;
  margin-top: 6px;
}

.ie-slider-main--next  {
  -ms-grid-column: 5;
}

/* the slides */
.linked-slides-container--ie .swiper-slide--linked {
  margin: 0 10px;
}
/* the parent */
.linked-slides-container--ie {
  margin: 0 -10px;
  width: 85%;
}

.ie-articles-slider {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    margin: 0 -15px;
  }
}

.ie-articles-slider .swiper-slide--article{
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    margin: 0 15px;
  }
}

.ie-most-premium-slider {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    margin: 0 -20px;
  }
}

.ie-most-premium-slider .swiper-slide{
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    margin: 0 20px;
  }
}


.ie-sales-slider {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    margin: 0 -15px;
  }
}

.ie-sales-slider .swiper-slide{
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    margin: 0 15px;
  }
}

.slick-dots {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 2rem;
  }

  button {
    border: none;
    outline: none;
    cursor: pointer;
    background: rgba(59,65,68,0.15);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -webkit-transition: 0.32s ease-out;
    transition: 0.32s ease-out;
    font-size: 0;
    margin-right: 12px;
  }

  .slick-active button {
    width: 16px;
    height: 16px;
    background: transparent;
    border: 2px solid #3b4144;
  }
}

