.tag {
  border: 1px solid #3b4144;
  border-radius: 15px;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 1.5rem;
  
  opacity: 0.5;
  color: #3b4144;
  transition: all 0.2s ease-out;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    max-width: 170px;
  }

  @include respond(tab) {
    margin-bottom: 0rem;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  &:hover {
    opacity: 1;
    color: #fd3400;
    border: 1px solid #fd3400;
  }

  &--active {
    opacity: 1;
    color: #fd3400;
    border: 1px solid #fd3400;
  }

  &--card {
    background: white;
    border: 1px solid white;
    color: black;
    opacity: 1;
    font-size: 10px;
    text-transform: uppercase;

    &:hover {
      background: white;
      border: 1px solid white;
      color: black;
    }
  }

  &--article {
    color: white;
    text-transform: uppercase;
    opacity: 1;
    background: #fd3400;
    border: none;
    padding: 6px 14px;
    font-size: 10px;
    font-weight: 600;

    &:hover {
      opacity: 1;
      color: white;
      border: none;
    }
  }
}
