.vip-card {
  background: linear-gradient(216.55deg, #7081a0 2.18%, #695876 84.23%);
  color: white;
  transform: translateY(-250px);
  padding: 0 3rem;
  @include respond(laptop) {
    border-radius: 5px;
    padding: 0rem;
  }

  &__card {
    display: grid;

    @include respond(laptop) {
      grid-template-columns: max-content 1fr;
      gap: 5rem;
      -ms-grid-columns: 480px 5rem 1fr;
    }
  }

  &__image-container {
    position: relative;
  }

  &__tab {
    position: absolute;
    background: #fd3400;
    top: 50px;
    right: 0;
    padding: 1rem;
    border-radius: 5px;
    font-size: 14px;
    width: 200px;
  }

  &__tab-svg {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__tab-bold {
    font-weight: 600;
    font-size: 24px;
  }

  &__form {
    @include respond(laptop) {
      justify-self: flex-start;
      width: 65%;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        width: 90%;
      }
    }
  }

  &__card-content {
    display: grid;
    padding: 4.5rem 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    -ms-grid-column: 3;
    gap: 2rem;

    @include respond(tab) {
      font-size: 16px;
    }

    @include respond(laptop) {
      font-size: 18px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }

    p {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-bottom: 2rem;
      }
    }
  }

  &__until {
    font-weight: 500;
    font-size: 20px;
    line-height: 44px;

    @include respond(tab) {
      font-size: 28px;
    }

    @include respond(laptop) {
      font-size: 36px;
    }
  }

  &__sum {
    font-size: 38px;
    line-height: 78px;

    @include respond(tab) {
      font-size: 56px;
    }

    @include respond(laptop) {
      font-size: 64px;
    }
  }

  &__rub {
    font-size: 18px;
    line-height: 29px;
    transform: translateY(-15px);
    display: inline-block;

    @include respond(tab) {
      font-size: 22px;
      transform: translateY(-20px);
    }

    @include respond(laptop) {
      font-size: 24px;
      transform: translateY(-25px);
    }
  }

  &__image {
    transform: translateX(-30px);
    max-width: 400px;

    @include respond(laptop) {
      transform: none;
      max-width: unset;
    }
  }
}
