.vue-slider-process {
  background: linear-gradient(180deg, #fd4702 0%, #fd0267 100%);
  border-radius: 5px;
}

.vue-slider-rail {
  background-color: #d8e2e7;
  border-radius: 5px;
}

.vue-slider-dot {
  cursor: pointer;
  background: #fd282f;
  border: 10px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 6px rgba(42, 114, 146, 0.25);

  @include respond(desktop) {
    border: 6px solid white;
  }
}
