.accept-spec {

  &__content {
    padding: 5rem 3rem;

    @include respond(laptop) {
      padding: 7rem 3rem;
    }

    @include respond(desktop) {
      padding: 8rem 0rem;
    }
  }

  &__heading {
    max-width: 450px;
  }

  &__grid {
    display: grid;
    // grid-template-columns: 1fr;

    @include respond(laptop) {
      grid-template-columns: 38% 1fr;
      grid-column-gap: 5rem;
      -ms-grid-columns: 38% 5rem 1fr;
    }
  }

  &__btn-container {
    justify-self: center;

    @include respond(laptop) {
      margin-top: -4rem;
      justify-self: start;
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }
  }

  &__list {
    margin: 3rem 0 4rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    gap: 3rem;

    @include respond(laptop) {
      margin: 0;
      grid-column: 2;
      grid-template-columns: repeat(3, 1fr);
      justify-self: stretch;
      grid-row-gap: 5rem;
      -ms-grid-column: 3;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 3rem 1fr 3rem 1fr;
        grid-template-rows: 1fr 3rem 1fr;
      }

      .accept-machinery__list-item:nth-child(2) {
        -ms-grid-column: 3;
      }

      .accept-machinery__list-item:nth-child(3) {
        -ms-grid-column: 5;
        -ms-grid-row: 1;
      }

      .accept-machinery__list-item:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
      }

      .accept-machinery__list-item:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
      }

      .accept-machinery__list-item:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
      }
    }

    &-item__text {
      font-size: 14px;
    }
  }
}