.accept-machinery {
  background: #edf6fa;

  &__content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__grid {
    display: grid;
    gap: 5rem;
    margin-top: 5rem;
    font-size: 14px;

    @include respond(laptop) {
      grid-template-columns: 35% 1fr;
      -ms-grid-columns: 35% 5rem 1fr;
    }

    div:last-child {
      -ms-grid-column: 3;
    }
  }

  &--moto {
    
    @include respond(laptop) {
      padding: 4rem 0;
    }
    
    .accept-machinery__list {
      justify-self: center;

      @include respond(laptop) {
        justify-self: stretch;
        margin-top: -16rem;
        margin-left: 8rem;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr;
          -ms-grid-rows: 1fr 3rem 1fr;
          display: -ms-grid;
          -ms-grid-column: 3;
        }
      }
      
      .accept-machinery__list-item:nth-child(2) {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
      }

      .accept-machinery__list-item:nth-child(3) {
        -ms-grid-column: 5;
        -ms-grid-row: 1;
      }

      .accept-machinery__list-item:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
      }

      .accept-machinery__list-item:nth-child(5) {
        -ms-grid-column: 3;
        -ms-grid-row: 3;
      }

      .accept-machinery__list-item:nth-child(6) {
        -ms-grid-column: 5;
        -ms-grid-row: 3;
      }
    }

    .simple-grid {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        transform: translateX(-447px);
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @include respond(laptop) {
      grid-column: 2;
      grid-template-columns: repeat(3, 1fr);

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-between;
      }
    }

    &--aqua {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      font-size: 14px;
      line-height: 24px;
      -ms-grid-columns: 1fr 3rem 1fr;
      -ms-grid-rows: 1fr 3rem 1fr;
    }
  }

  &__list-item {
    display: grid;
    gap: 1rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
      max-width: 210px;
    }

    &:nth-child(2) {
      -ms-grid-column: 3;
    }

    &:nth-child(3) {
      -ms-grid-row: 3;
    }

    &:nth-child(4) {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
  }

  &__btn-container {
    @include respond(laptop) {
      grid-row: 1;
      grid-column: 1;
      align-self: flex-end;
    }
  }

  &__btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  &__btn-text {
    font-weight: normal;
    font-size: 14px;
  }

  &__text {
    @include respond(laptop) {
      grid-row: 1;
      grid-column: 1;
    }
  }

  &__text-grid {
    margin-top: 4rem;
    display: grid;
    gap: 3rem;
    line-height: 24px;
  }
}
