.accepted {
  max-width: 1140px;
  margin: 0 auto;
  background: linear-gradient(61.61deg, #695876 23.51%, #7081A0 95.73%);
  background-position: center center;
  background-size: cover;
  margin-bottom: 5rem;
  padding-top: 1rem;

  @include respond(laptop) {
    border-radius: 5px;
    margin-bottom: 7rem;
    padding-top: 0rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
  
    @include respond(tab) {
      // padding: 0 1.5rem;
    }

    @include respond(laptop) {
      flex-direction: row;
      // padding: 0 1.5rem;
    
    }
  }

  &__text-grid {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1.5rem 3rem 1.5rem;
    font-weight: 500;
    font-size: 14px;

    @include respond(laptop) {
      grid-column: 2;
    }
  }

  &__icon {
    max-width: 214px;
    max-height: 160px;
    transform: rotate(34deg) scale(1.2);
    
    @include respond(laptop) {
      margin-right: 20px;
      max-height: unset;
      transform: scale(1.1);
      max-width: 340px;
    }

    @include respond(desktop) {
      margin-right: 40px;
    }
  }

  &__block-heading {
    display: block;

    @include respond(phone) {
      display: inline;
    }
  }

  &__heading--1 {
    font-weight: 300;
    margin-bottom: 10px;
  }
}
