.articles {
  margin: 1rem auto;
  // max-width: 1141px;
  background: #edf6fa;
  padding: 3rem 0 15rem 0;

  @include respond(tab) {
    padding: 5rem 0 7rem 0;
  }

  &--no-padding {
    padding: 3rem 0 5rem 0;
  }

  &__swiper {
    margin: 2rem 0;
  }

  &__content {
    position: relative;
    overflow: hidden;

    // @include respond(desktop) {
    //   padding: 0 3rem;
    // }
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }

  &__btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  &--sale {
    margin: 0;
    padding-bottom: 3rem;

    @include respond(tab) {
      padding: 6rem 0 6rem 0;
    }
  }
}
