.benefits {
  margin: 6rem auto;
  max-width: 1141px;

  &__content {
    display: grid;
    gap: 3rem;

    @include respond(tab) {
      // align-items: center;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
    }

    @include respond(desktop) {
      // column-gap: 15rem;
      row-gap: 2rem;
      grid-template-columns: 40% 60%;
      padding: 0;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 40% 5rem 60%;
      }
    }
    
    div:last-child:not(.benefits__cards--remote) {
      -ms-grid-column: 3;
    }

    &--about {
      align-items: flex-start;
      column-gap: 8rem;
      grid-template-columns: 1fr;

      &1 {
        grid-template-columns: 1fr;

        @include respond(laptop) {
          row-gap: 2rem;
          grid-template-columns: 30% 60%;
          justify-content: space-between;
          padding: 0;
          -ms-grid-columns: 30% 2rem 60%;
        }

        @include respond(desktop) {
          // column-gap: 15rem;
          row-gap: 2rem;
          grid-template-columns: 1fr 675px;
          -ms-grid-columns: 1fr 8rem 675px;
          -ms-grid-rows: 72px 2rem 110px 2rem 230px;
          padding: 0;
        }
      }
     
    }

    &--remote {
      -ms-grid-columns: 40% 5rem 60%;
      -ms-grid-rows: 50px 5rem 150px 5rem 250px;
      @include respond(desktop) {
        row-gap: 5rem;
      }
    }
  }

  &__heading {
    
    @include respond(tab) {
      margin-bottom: 5rem;
    }

    &--remote {
      
      @include respond(tab) {
        margin-bottom: 0;
        grid-column: 1 / 3;
        -ms-grid-column-span: 3; 
      }
    }
  }

  &__text {
    display: grid;
    gap: 2rem;

    @include respond(tab) {
      gap: 4rem;
      margin-bottom: 4rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }

    &--remote {
      grid-column: 1;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      grid-column: 1 / 3;

      @include respond(tab) {
        margin-bottom: 0rem;
        -ms-grid-row: 3;
      }

      @include respond(desktop) {
        max-width: 407px;
        grid-column: 1;
      }
    }
  }

  &__paragraph {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    
    @include respond(tab) {
      width: 380px;
    }
  }

  &__paragraph-1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 2rem;

    @include respond(tab) {
      max-width: none;
      font-size: 16px;
      // max-width: 220px;
    }

    @include respond(desktop) {
      // width: 308px;
    }
  }

  &__paragraph-2 {
    font-size: 12px;
    color: #474d50;
    line-height: 18px;
    max-width: 240px;

    @include respond(tab) {
      max-width: none;
      font-size: 14px;
    }

    @include respond(desktop) {
      // width: 308px;
      line-height: 24px;
    }
  }

  &__btn {
    height: 115px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;

    @include respond(tab) {
      max-width: 300px;
      height: 124px;
    }

    @include respond(desktop) {
      // grid-column: 1;
      width: 308px;
      height: 124px;
    }

    &--about {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }
  }

  &__list {
    display: grid;
    gap: 3rem;
    justify-content: center;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr;
      grid-column: 1 / span 2;
      justify-content: start;
      -ms-grid-columns: 1fr 3rem 1fr;
      -ms-grid-rows: 1fr 3rem 1fr 3rem 1fr;
    }

    @include respond(desktop) {
      grid-column: 2;
      grid-row: 1 / span 2;
      gap: 5rem;
    }

    &--about {
      // grid-template-columns: 1fr;
      grid-row: 3;
      justify-content: center;

      @include respond(tab) {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: start;
        align-items: start;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          display: flex;
        }
      }
    }

    &--about2 {
      justify-content: center;
      @include respond(tab) {
        grid-template-columns: 1fr 1fr;
        grid-column: 1;
        justify-content: start;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
          transform: translateX(8rem);
        }
      }

      @include respond(desktop) {
        grid-column: 2 / 3;
      }
    }

    &--remote {
      grid-row: 2;
      grid-column-gap: 0;
      grid-row-gap: 1rem;
      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }

    &--gruzovoy {
      grid-row-gap: 1rem;
    }
  }

  &__list-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2.3rem;
    align-items: center;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
    }

    p {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-left: 2.3rem;
      }
    }

    &:nth-child(2) {
      -ms-grid-column: 3;
    }

    &:nth-child(3) {
      -ms-grid-row: 3;
    }

    &:nth-child(4) {
      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }

    &:nth-child(5) {
      -ms-grid-row: 5;
    }

    &:nth-child(6) {
      -ms-grid-column: 3;
      -ms-grid-row: 5;
    }

    &--about {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  &__list-text {
    font-size: 12px;
    line-height: 18px;
    max-width: 150px;

    @include respond(tab) {
      font-size: 14px;
      max-width: 200px;
      line-height: 24px;
    }

    &--remote {
      line-height: 24px;
      max-width: 209px;
    }

    &--2 {
      max-width: 240px;
    }
  }

  &__why {
    @include respond(tab) {
      display: block;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 24px;

    @include respond(laptop) {
      grid-column: 2;
      grid-row: 1;
      -ms-grid-column: 3;
      -ms-grid-row: 1;
    }
  }

  &__list-title {
    grid-column: 2;
    grid-row: 2;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 3rem;
  }

  &__title {
    margin-bottom: 5rem;
  }

  &__icons {
    &--about {
      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }
  }

  &__form {
    margin-top: 3rem;
    // grid-column: 1 / span 2;

    @include respond(tab) {
      // grid-column: 1 / span 2;
    }

    @include respond(desktop) {
      grid-column: 2;
    }

    &--about1 {
      @include respond(laptop) {
        grid-column: 2;
        -ms-grid-column: 3;
        -ms-grid-row: 5;
      }
    }

    &--about2 {
      @include respond(desktop) {
        // margin-top: -13rem;
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
          transform: translate(8rem, 250px);
        }
      }
    }

    &--spec {
      margin-top: 0;

      @include respond(desktop) {
        margin-top: -3rem;
        -ms-grid-column: 3;
        -ms-grid-row: 2;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span 2;
    gap: 3rem;
    margin-top: 2rem;

    &--remote {
      grid-column: 1;
      grid-template-columns: 1fr;

      @include respond(tab) {
        grid-column: 1 / span 2;
      }

      @include respond(laptop) {
        grid-template-columns: 1fr 1fr;
        -ms-grid-column: 1 !important;
        -ms-grid-column-span: 3;
        -ms-grid-row: 5;
        -ms-grid-columns: 1fr 3rem 1fr;
      }
    }
  }

  &__card {
    border-radius: 5px;
    padding: 3.5rem 4rem;

    &--red {
      background: linear-gradient(180deg, #fd4209 0%, #fd282f 62%);
      box-shadow: 0px 4px 8px rgba(253, 30, 61, 0.3);
      color: white;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      gap: 4rem;

      @include respond(tab) {
        grid-template-columns: max-content 1fr;
        gap: 2rem;
      }
    }

    &--white {
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(42, 114, 146, 0.1);
    }
  }

  &__card-percent {
    font-size: 75px;
    line-height: 36px;

    @include respond(tab) {
      font-size: 143px;
    }

    &.show-tab {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        transform: translateY(50px);
      }
    }
  }

  &__card-bold {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  &__card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2rem;
  }

  &__author {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #474d50;
  }

  &__subtext {
    font-size: 12px;
    line-height: 16px;
    color: rgba(71, 77, 80, 0.6);
  }

  &__avatar {
    display: grid;
    gap: 2rem;
    grid-template-columns: max-content 1fr;
    margin-bottom: 2rem;
  }

  &__content-avatar {
    grid-row: 1 / span 3;

    &--about {
      @include respond(desktop) {
        grid-column: 1 / 2;
      }
    }
  }

  &__avatar-text {
    display: grid;
    gap: 5px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
      display: block;
      margin-left: 2rem;
    }
  }

  &__ul {
    margin-top: 4rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr 1fr;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__li {
    display: grid;
    gap: 1rem;
    font-size: 14px;
    line-height: 24px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }
}
