.benefits-remote {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin: 8rem auto;

  @include respond(laptop) {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    -ms-grid-columns: 1fr 5rem 1fr;
  }

  @include respond(desktop) {
    grid-template-columns: 535px 555px;
    justify-content: space-between;
    grid-column-gap: 0;
    gap: 8rem;
    -ms-grid-columns: 535px 8rem 555px;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
  }

  &__grid {
    gap: 3rem;
    display: grid;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    p {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-bottom: 3rem;
      }
    }
  }

  &__card {
    background: linear-gradient(250.37deg, #7081a0 2.7%, #695876 104.42%);
    border-radius: 5px;
    height: 262px;
    position: relative;
    color: white;
    -ms-grid-column: 3;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;

    @include respond(tab) {
      display: block;
    }
  }

  &__stamp {
    display: grid;
    grid-template-columns: 30% 1fr;
    justify-content: space-between;
    // gap: 3rem;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    background: #fd3400;
    box-shadow: 0px 4px 8px rgba(253, 22, 72, 0.3);
    border-radius: 5px;
    padding: 1.5rem 2.5rem;

    @include respond(tab) {
      position: absolute;
      bottom: -15%;
      left: 4rem;
      grid-template-columns: max-content 240px;
      width: 353px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
      }
    }

    p {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        max-width: 240px;
      }
    }
  }

  &__content {
    display: grid;
    gap: 1.5rem;
    margin: 3rem 0 2rem 4rem;

    @include respond(tab) {
      margin: 5rem 0 0 4rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }
  }

  &__card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }

  &__card-text {
    font-size: 14px;
    line-height: 24px;
  }
}
