.benefits-lombard {
  margin: 5rem auto;

  &__list {
    display: grid;
    gap: 4rem;

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--tripple {
      @include respond(laptop) {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        -ms-grid-columns: 1fr 2rem 1fr;
        -ms-grid-rows: 1fr 2rem 1fr;
      }
    }

    &--ur {
      @include respond(laptop) {
        grid-template-columns: 1fr;
        gap: 4rem;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          display: block;
        }
      }

      .benefits-lombard__list-item {
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          margin-top: 4rem;
        }
      }
    }
  }

  &__list-item {
    display: grid;
    gap: 2rem;
    font-size: 14px;
    line-height: 24px;
    grid-template-rows: 50px max-content 1fr;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    &--full {
      grid-column: 1 / span 2;
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }

    &:nth-child(2) {
      -ms-grid-column: 3;
    }    
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin: 2rem 0;
    }
  }

  &__heading {
    margin-bottom: 5rem;
  }
}
