.benefits-machinery {
  display: grid;

  margin: 5rem auto;
  gap: 5rem;

  @include respond(tab) {
    grid-template-columns: 35% 1fr;
    -ms-grid-columns: 35% 5rem 1fr;
  }

  @include respond(laptop) {
    margin: 7rem auto;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 3rem;
  }

  &__list {
    display: grid;
    gap: 4rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }

  &__list-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2rem;
    font-size: 12px;
    line-height: 24px;

    @include respond(tab) {
      font-size: 14px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-bottom: 4rem;
        display: flex;
      }
    }

    svg {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-right: 2rem;
      }
    }
  }

  div:nth-child(2) {
    -ms-grid-column: 3;
  }
}
