.best-service {
  margin: 8rem auto;
  background: linear-gradient(61.61deg, #695876 23.35%, #7081a0 95.79%);
  color: white;
  padding: 0 1.5rem;

  @include respond(tab) {
    padding: 0 3rem;
  }

  @include respond(laptop) {
    border-radius: 5px;
    padding: 0rem;
    max-width: 1141px;
  }

  &__card {
    display: grid;
    gap: 5rem;

    @include respond(laptop) {
      grid-template-columns: max-content 1fr;
      -ms-grid-columns: 330px 5rem 1fr;
    }
  }

  &__list {
    display: grid;
    gap: 4rem;
    justify-content: center;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0;
      justify-content: start;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-bottom: 2rem;
        display: flex;
      }
    }
  }

  &__list-item {
    font-size: 12px;
    line-height: 18px;
    display: grid;
    gap: 2rem;
    grid-template-rows: 50px 1fr;
    max-width: 175px;

    @include respond(laptop) {
      font-size: 14px;
      line-height: 24px;
      max-width: 216px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }
  }

  &__grid {
    display: grid;
    gap: 4rem;
    align-items: flex-start;
    padding: 3rem 0;

    @include respond(laptop) {
      gap: 1rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 3;
        display: block;
      }
    }

    p {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
       margin-bottom: 2rem;
      }
    }
  }

  &__form {
    @include respond(laptop) {
      justify-self: flex-start;
      width: 65%;
    }
  }

  &__figure {
    grid-row: 2;
    justify-content: start;
    display: grid;
    margin-left: -3rem;

    @include respond(laptop) {
      grid-row: 1;
      justify-self: initial;
      justify-content: center;
      margin-left: 0rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }
}
