.blog {
  // max-width: 1140px;
  margin: 3rem auto;
  // display: grid;
  gap: 3rem;

  @include respond(tab) {
    // margin: 5rem auto;
    gap: 5rem;
  }

  @include respond(laptop) {
    margin: 5rem auto;
  }

  &__header {
    margin-bottom: 2rem;

    @include respond(tab) {
      margin-bottom: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include respond(laptop) {
      margin-bottom: 4rem;
    }
  }

  &__grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(laptop) {
      margin-bottom: -3rem;
      grid-template-columns: repeat(6, 1fr);
      -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
      -ms-grid-rows: 420px 3rem 502px;
    }

    &--mt {
      padding-top: 4rem;
      padding-bottom: 4rem;

      @include respond(laptop) {
        padding-top: 15rem;
        padding-bottom: 15rem;
      }
    }

    &--ms {
      padding-top: 4rem;
      padding-bottom: 4rem;

      @include respond(laptop) {
        padding-top: 15rem;
        padding-bottom: 7rem;
      }
    }

    &--article {
      padding-top: 0;
      padding-bottom: 8rem;
    }
  }

  &__section-blue {
    background: #edf6fa;
  }

  &__section--mb {
    margin-bottom: 4rem;

    @include respond(tab) {
      margin-bottom: 10rem;
    }
  }

  &__section--article {
    padding-top: 7rem;
    margin-bottom: 4rem;

    @include respond(tab) {
      margin-bottom: 9rem;
    }
  }

  &__tags {
    display: flex;
    justify-self: flex-end;
    flex-wrap: wrap;
    margin-top: 2rem;

    @include respond(tab) {
      margin-top: 0rem;
    }

    &--single {
      display: none;
      @include respond(laptop) {
        display: flex;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__page-item {
    margin: 0 1rem;
    background: #edf6fa;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      background: #fd3400;
      color: white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__arrow {
    &:hover {
      cursor: pointer;
    }

    &--left {
      transform: rotate(180deg);
    }
  }

  &__banner {
    background: linear-gradient(45.4deg, #695876 0%, #7081a0 100%);
    border: 1px solid #695a78;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    color: white;
    text-align: center;
    gap: 3rem;

    @include respond(tab) {
      padding: 3rem 6rem;
    }

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0;
      text-align: left;
      transform: translateY(50%);
      -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr;
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        display: flex;
        justify-content: space-around;
      }
    }

    &--second {
      margin-bottom: 3rem;
      @include respond(laptop) {
        margin-bottom: 0rem;
        transform: translateY(-40%);
      }
    }


    &-btn {
      max-width: 228px;
    }
  }

  &__banner-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
  }

  &__banner-img {
    width: 100%;
    display: block;
  }

  &__articles {
    display: grid;
    gap: 3rem;

    @include respond(tab) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(laptop) {
      gap: 5rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // &__stripe {
  //   border-radius: 5px;
  //   grid-template-rows: max-content max-content;
  //   padding: 0.2rem;
  //   justify-items: center;

  //   @include respond(tab) {
  //     padding: 1rem;
  //   }

  //   &--position {
  //     position: absolute;
  //     top: -15px;
  //     right: 20px;
  //   }
  // }

  &__month {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 10px;
  }
}
