.calculator {
  background: #edf6fa;
  color:  #3b4144;
  margin: 0 auto;
  margin-bottom: 4rem;
  max-width: 1140px;
  font-weight: 400;

  @include respond(desktop) {
    border-radius: 5px;
    margin-bottom: 5rem;
  }

  &--product {
    @include respond(laptop) {
      margin-top: 6rem;
      margin-bottom: 0rem;
    }
  }

  &__container {
    padding: 4.5rem 0.5rem 4rem 0.5rem;

    @include respond(tab) {
      padding: 4.5rem 0;
    }

    @include respond(desktop) {
      padding: 0;
    }

  }

  &__grid {
    @include respond(desktop) {
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-template-rows: max-content max-content max-content;
    }
  }

  &__title {
    margin-bottom: 2rem;

    @include respond(tab) {
      display: grid;
      justify-content: space-between;
      grid-template-columns: max-content max-content;
      align-items: center;
      margin-bottom: 4rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
      }
    }

    &--product {
      display: block;
      text-align: center;
    }

    &--cargo {
      @include respond(desktop) {
        margin-bottom: 7rem;
      }
    }
  }

  &__cta {
    display: none;

    @include respond(tab) {
      display: grid;
      font-size: 12px;
    }
  }

  &__tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;

    @include respond(tab) {
      grid-column: 1 / span 2;
      grid-row: 1;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-column: 1 / span 3;
      }
    }

    @include respond(desktop) {
      grid-column: 1;
      grid-row: 1;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-column: 1 / span 1;
        grid-row: 1;
      }
    }

    &--req {
      grid-template-columns: max-content max-content;
      justify-content: center;

      @include respond(laptop) {
        justify-content: start;
      }
    }
  }

  &__tab {
    border: 1px solid #dae6eb;
    display: grid;
    grid-template-columns: max-content max-content;
    background: white;
    padding: 1rem 1.5rem;
    column-gap: 1rem;
    align-items: center;
    width: 100%;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
    }

    @include respond(tab) {
      padding: 2.2rem 3.5rem;
      column-gap: 2.5rem;
    }

    @include respond(desktop) {
      padding: 1.5rem 0 1.5rem 2.2rem;
      column-gap: 2.5rem;
      justify-content: center;
    }

    &--left {
      border-radius: 5px 0px 0px 5px;
    }

    &--right {
      border-radius: 0px 5px 5px 0px;
      -ms-grid-column: 2;
    }

    &--active {
      border: none;
      box-shadow: 0px 2px 8px rgba(42, 114, 146, 0.15);
    }

    &--req {
      max-width: 300px;
    }
  }

  &__tab-icon {
    &--big {
      display: none;

      @include respond(tab) {
        display: block;
      }
    }

    &--small {
      @include respond(tab) {
        display: none;
      }
    }
  }

  &__tab-text {
    display: grid;
    max-width: 180px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
      margin-left: 2.5rem;
    }
  }

  &__tab-title {
    font-size: 14px;
    font-weight: 400;

    @include respond(desktop) {
      font-size: 18px;
    }
  }

  &__tab-info {
    display: none;
    font-size: 12px;

    @include respond(tab) {
      display: block;
    }
  }

  &__text-sum {
    font-size: 1rem;
    margin: 2rem 0;

    @include respond(tab) {
      display: none;
    }
  }

  &__calculations {
    position: relative;
    margin-top: 2rem;
    row-gap: 2rem;

    @include respond(tab) {
      display: grid;
      grid-template-columns: 1fr 40%;
      column-gap: 3rem;
      margin-top: 4rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 3rem 40%;
        grid-template-rows: 98px 2rem 98px 2rem 98px;
      }
    }

    @include respond(desktop) {
      display: grid;
      grid-template-columns: 600px 1fr;
      grid-template-rows: max-content max-content max-content;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 600px 3rem 1fr;
        grid-template-rows: 98px 2rem 98px 2rem 98px;
      }
    }

    .calculator__slider-container--mobile:nth-child(3) {
      -ms-grid-row: 5;
    } 

    .calculator__slider-container--desktop:nth-child(5) {
      -ms-grid-row: 5;
    } 

    &--ie-product {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-rows: 22px 2rem 51px 2rem 97px 2rem 97px 2rem 83px;
      }

      .input-phone {
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          height: 51px;
        }
      }
      .calculator__slider-container--desktop:nth-child(6) {
        -ms-grid-row: 7;
      }
      .calculator__calculations :nth-child(5).calculator__slider-container--desktop {
        -ms-grid-row: 5;
      }
      .form-value-arrow  {
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          display: none;
        }
      }
      .calculator__slider-container--mobile {
        -ms-grid-row: 7;
      }
      .calculator__slider-container--mobile:nth-child(4) {
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
          margin-top: 5rem;
        }
      }
    }

    &--ie-cargo {
      -ms-grid-rows: 141px 2rem 141px 2rem 83px;
      @include respond(desktop) {
        -ms-grid-rows: 98px 2rem 98px 2rem 83px;
      }
  
      .calculator__form {
        -ms-grid-row: 5;
      }

      .calculator__slider-container--desktop:nth-child(4) {
        -ms-grid-row: 2;
      }

      .calculator__slider-container--mobile:first-child {
        -ms-grid-row: 1;
      }

      .calculator__slider-container--mobile:nth-child(2) {
        -ms-grid-row: 3;
      }

      .opd__calc--2 {
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          margin-top: 4rem;
        }
      }
    }
  }

  &__slider-container {
    @include respond(tab) {
      grid-column: 1;
    }

    &:nth-child(2) {
      -ms-grid-row: 5;
    }

    &--mobile {
      @include respond(desktop) {
        display: none;
      }

      -ms-grid-row: 3;
    }

    &--desktop {
      display: none;
      -ms-grid-row: 3;

      @include respond(desktop) {
        display: block;
      }
    }

    &--up {
      -ms-grid-row: 1;
      @include respond(desktop) {
        margin-top: -3rem;
      }

    } 
  }

  &__slider-title {
    font-size: 14px;
    margin-bottom: 1rem;

    &--cargo {
      margin-bottom: -1rem;
    }
  }

  &__slider-result {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 1rem;

    @include respond(desktop) {
      // width: 160px;
      transform: translateY(5px);

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        transform: translateY(17px);
      }
    }
  }

  &__slider {
    margin-top: 3rem;

    @include respond(desktop) {
      margin-top: 2.5rem;
    }
  }

  &__slider-background {
    @include respond(tab) {
      background: #ffffff;
      border: 1px solid #dae6eb;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 0 15px;
    }

    @include respond(desktop) {
      display: grid;
      grid-template-columns: 25% 1fr;
      align-items: center;
    }

    div {
      -ms-grid-column: 2;
    }
  }

  &__slider-labels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
      justify-content: space-between;
    }

    &--mob {
      display: grid;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-between;
      }

      @include respond(laptop) {
        display: none;
      }
    }

    &--tab {
      display: none;
      @include respond(laptop) {
        display: grid;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  &__slider-label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    padding: 5px 0;

    @include respond(desktop) {
      font-size: 10px;
    }

    &--hide {
      display: none;
      @include respond(tab) {
        display: block;
      }
    }

    &:nth-child(2) {
      -ms-grid-column: 2;
    }

    &:nth-child(3) {
      -ms-grid-column: 3;
    }

    &:nth-child(4) {
      -ms-grid-column: 4;
    }

    &:nth-child(5) {
      -ms-grid-column: 5;
    }

    &:nth-child(6) {
      -ms-grid-column: 6;
    }

    &:nth-child(7) {
      -ms-grid-column: 7;
    }

    &:nth-child(8) {
      -ms-grid-column: 8;
    }

    &:nth-child(9) {
      -ms-grid-column: 9;
    }

    &:nth-child(10) {
      -ms-grid-column: 10;
    }


    &:nth-child(even) {
      transform: translateY(-38px);
    }

    &:not(:first-child) {
      justify-self: center;
    }

    &:last-child {
      justify-self: end;
    }
  }

  &__results {
    margin-top: 2rem;
    background: #ffffff;
    border: 1px solid #dae6eb;
    border-radius: 5px;
    padding: 2.3rem 2rem 1rem 2rem;

    @include respond(tab) {
      grid-row: 2 / span 2;
      grid-column: 2;
      margin-top: 0;
      // width: 300px;
      -ms-grid-row: 3;
      -ms-grid-row-span: 4;
      -ms-grid-column: 3;
    }

    @include respond(desktop) {
      padding: 2.3rem 2rem 1rem 3rem;
      // width: 431px;
      box-sizing: content-box;
      grid-row: 1 / span 3;
      height: 240px;
    }

    &--product {
      @include respond(tab) {
        grid-row: 3 / span 2;

        -ms-grid-row: 5;
        -ms-grid-row-span: 5;
      }

      @include respond(desktop) {
        grid-row: 2 / span 4;

        -ms-grid-row: 3;
        -ms-grid-row-span: 5;
      }
    }

    &--cargo {
      @include respond(tab) {
        grid-row: 1 / span 2;
        -ms-grid-row-span: 3;
      }

      @include respond(desktop) {
        grid-row: 1 / span 3;
      }
    }
  }

  &__results-title {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0.2rem;

    @include respond(tab) {
      font-size: 16px;
      line-height: 24px;
      max-width: 300px;
    }

    // @include respond(laptop) {
    //   max-width: 275px;
    // }

  }

  &__results-result {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    font-weight: 500;
    column-gap: 1rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
    }

    @include respond(tab) {
      margin-top: 2rem;
    }
  }

  &__results-sum {
    font-size: 32px;

    @include respond(laptop) {
      font-size: 48px;
    }

    &--span {
      font-size: 16px;

      @include respond(laptop) {
        font-size: 32px;
      }
    }
  }

  &__results-rub {
    font-size: 18px;
    transform: translateY(15px);
  }

  &__results-rate {
    &--desktop {
      display: none;

      @include respond(desktop) {
        display: block;
      }
    }

    &:last-child {
      -ms-grid-column: 2;
    }
  }

  &__results-rates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    justify-content: space-between;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      grid-template-columns: 1fr 1fr;
    }

    @include respond(tab) {
      margin-top: 2rem;
    }

    @include respond(desktop) {
      margin-top: 1rem;
    }
  }

  &__rate-title {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__rate {
    font-weight: 400;
    font-size: 16px;
  }

  &__results-btn {
    transform: translateY(30px);

    @include respond(tab) {
      transform: translateY(30px);
    }

    @include respond(laptop) {
      transform: translateY(40px);
    }

    @include respond(desktop) {
      transform: translateY(25px);
      width: 236px;
    }
  }

  &__legal {
    margin-top: 2rem;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    // padding: 0 0 0 2rem;
    font-weight: 300;

    @include respond(tab) {
      max-width: 220px;
      margin-top: 4rem;
      max-width: none;
      text-align: center;
      padding: 0;
    }

    @include respond(desktop) {
      font-size: 16px;
      text-align: left;
      max-width: 356px;
      margin-left: auto;
      margin-top: 3rem;
    }

    &--main {
      @include respond(tab) {
        margin-top: 5rem;
      }
    }

    &--product {
      margin-top: 3rem;
      max-width: unset;

      @include respond(tab) {
        margin-top: 2rem;
        // max-width: 220px;
      }

      @include respond(desktop) {
        max-width: 356px;
        margin-top: 0;
        transform: translateY(-55px);
      }
    }

    &--cargo {
      @include respond(desktop) {
        margin-top: 4rem;
        transform: none;
      }
    }
  }

  &__cta {
    display: none;
    @include respond(tab) {
      display: flex;
      align-items: center;
      font-size: 16px;
    }

    &--mob {
      display: flex;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      margin-top: 5rem;
      margin-left: 2rem;
      @include respond(tab) {
        display: none;
      }
    }
  }

  &__cta-icon {
    margin-right: 10px;
  }

  &__form {
    display: grid;
    gap: 1rem;
    margin: 2rem 0;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      grid-column: 1 / span 2;
      margin: 3rem 0;

      -ms-grid-row: 10;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 2rem 1fr 2rem 1fr;
      }
    }

    @include respond(desktop) {
      grid-column: 1;
      margin: 0;

      -ms-grid-row: 9;
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
    }

    &--short {
      // grid-column: 1;
      margin: 2rem 0 3rem 0;
    }
  }

  &__form-label {
    display: grid;
    font-size: 14px;
    gap: 1rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    @include respond(desktop) {
      gap: 1rem;
    }

    &:nth-child(2) {
      -ms-grid-column: 3;
    }

    &:nth-child(3) {
      -ms-grid-column: 5;
    }

    input {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 1rem;
      }
    }
  }

  &__percent-icon {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1.2rem;
    justify-self: flex-start;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    display: none;

     @include respond(desktop) {
      grid-column: 2;
      grid-row: 3;
      align-self: flex-end;
      transform: translateX(30px);
      display: grid;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-between;
        width: 175px;
        -ms-grid-column: 3;
        -ms-grid-row: 6;
      }
    }
  }

  &-auto-show {
    display: none !important;
  }

  &-auto-show.active {
    display: grid !important;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      display: flex !important;
      flex-wrap: wrap;
    }
  }

  &-pts-show {
    display: none !important;
  }

  &-pts-show.active {
    display: grid !important;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      display: flex !important;
      flex-wrap: wrap;
    }
  }
} 

.ui-widget.ui-widget-content {
  border: none !important;
  background: #d8e2e7;
}

.ui-slider-horizontal .ui-slider-range {
  background: #fd282f;
}

.ui-slider-horizontal {
  height: 4px !important;
}

.ui-state-default {
  outline: none; 
  width: 6px !important;
  height: 6px !important;
  transform: translate(-50%, -50%);
  top: 50% !important;
  left: 49.74874371859297%;
  cursor: pointer !important;
  background: #fd282f !important;
  border: 10px solid #fff !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px rgba(42,114,146,.25);
  position: relative;
  box-sizing: content-box;

  
}

.calculator__calculations--ie-product {
  
}