.cases {
  max-width: 1141px;
  // margin-top: 3rem;
  margin-bottom: 1rem;
  padding: 0 20px;
  overflow: hidden;

  @include respond(tab) {
    padding: 0 3rem;
    padding-bottom: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  @include respond(laptop) {
    margin-left: auto;
    margin-right: auto;
  }

  @include respond(desktop) {
    padding: 0;
    margin-bottom: 8rem;
    margin-top: 7rem;
  }

  &--article {
    margin-top: 0rem;
  }

  &__content {
    overflow: hidden;
    position: relative;
  }

  &__grid {
    display: none;

    @include respond(tab) {
      row-gap: 3rem;
      display: grid;

      // @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      //   grid-template-rows: 1fr 4rem 1fr 4rem 1fr 4rem 1fr;
      // }
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 4rem 1fr;
        grid-template-rows: 1fr 4rem 1fr;
      }
    }
    
    @include respond(desktop) {
      gap: 4rem;
      grid-template-columns: repeat(2, 1fr);

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 4rem 1fr;
        grid-template-rows: 1fr 4rem 1fr;
      }
    }
  }

  &__title {
    margin: 3rem 0;
    
    @include respond(tab) {
      // margin-top: 0;
    }

    &--sales {
      margin-top: -8rem;

      @include respond(tab) {
        margin-top: 0;
      }
    }
  }

  &__header {
    margin-bottom: 3rem;
    // margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    @include respond(desktop) {
      background: none;
      box-shadow: none;
    }
  }
}

.cases-carousel-swiper {
  overflow: hidden;
}
