.conditions {
  background: #edf6fa;

  &__content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;

    @include respond(laptop) {
      padding: 8rem 0;
    }
  }

  &__grid {
    display: grid;
    padding: 0 3rem;
    margin-top: 2rem;

    @include respond(laptop) {
      padding: 0 3rem;
      margin-top: 3rem;
      grid-template-columns: 1fr 1fr;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 540px 540px;
      }
    }

    @include respond(desktop) {
      margin-top: 5rem;
    }
  }

  &__list {
    display: grid;
    gap: 2rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    @include respond(laptop) {
      &:first-child {
        border-right: 1px solid #c7d9e1;
      }

      &:nth-child(2) {
        padding-left: 6rem;
        -ms-grid-column: 2;
      }
    }
  }

  &__list-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1.5rem;
    font-size: 14px;
    color: #474d50;
    align-items: center;
    text-align: left;
    max-width: 90%;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
      margin-bottom: 2rem;
      position: relative;
      padding-left: 4rem;
    }

    &--white {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 1.5rem;
      font-size: 14px;
      align-items: center;
      text-align: left;
      max-width: 90%;
      color: white;
      font-weight: 300;

      &::before {
        content: "";
        background: white;
        width: 20px;
        height: 1px;
      }
    }

    @include respond(laptop) {
      gap: 2rem;
    }

    &::before {
      content: "";
      background: #474d50;
      width: 20px;
      height: 1px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        left: 0;
        top: 12px;
        position: absolute;
      }
    }
  }
}
