.contacts {
  position: relative;

  &__figure {
    display: none;

    @include respond(tab) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;
      transform: translateX(-100px);
    }

    @include respond(laptop) {
      transform: translateX(-60px);
    }
  }

  &__content {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr max-content;

    @include respond(tab) {
      padding: 3rem 0 5rem 0;
      position: relative;
      z-index: 1;
    }

    @include respond(laptop) {
      padding-top: 5rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__address {
    font-size: 18px;
    margin-bottom: 3rem;

    &--top {
      margin-top: 5rem;
      font-size: 14px;
      line-height: 30px;
    }
  }

  &__hours {
    font-size: 14px;
    margin-top: 0.1rem;
    color: rgba(59, 65, 68, 0.5);
  }

  &__accounts {
    margin: 4rem 0;
    display: grid;
    gap: 1rem;
  }

  &__account {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem;
    align-items: center;
    font-size: 14px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
    }
  }

  &__social {
    max-width: 168px;
    justify-content: space-between;
  }

  &__social-link {
    fill:  #3b4144;
    margin-right: 1rem;
    opacity: 0.4;
    transition: all 0.3s;
    
    &:hover {
      opacity: 1;
      // fill: white;
      cursor: pointer;
    }
  }

  &__social-link path {
    fill: inherit;
    transition: all 0.32s ease-out;
  }

  &__form {
    align-self: flex-end;
    display: grid;
    gap: 1rem;
    grid-column: 1;
    margin-top: 5rem;

    @include respond(tab) {
      grid-column: 2;
      margin-top: 0;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(42, 114, 146, 0.1);
      border-radius: 5px;
      padding: 2rem 3.5rem 2.5rem;
      grid-template-columns: 220px 230px;
      -ms-grid-columns: 220px 1rem 230px;
      -ms-grid-rows: 24px 1rem 50px 1rem 20px;
    }
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  &__btn {
    @include respond(tab) {
      grid-column: 2;
      grid-row: 2;
      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }
  }

  &__input {
    @include respond(tab) {
      grid-row: 2;
      grid-column: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }
  }

  .opd {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 5;
  }
}
