.conditions-cargo {
  background: #edf6fa;
  margin-bottom: 5rem;

  &__content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 3rem;
  }

  &__content-item {
    &:first-child {
      margin-bottom: 4rem;
      @include respond(laptop) {
        padding-right: 5rem;
        border-right: 1px solid #c7d9e1;
        margin: 0;
      }
    }

    &:nth-child(2) {
      @include respond(laptop) {
        padding-left: 5rem;
        -ms-grid-column: 2;
      }
    }
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__list {
    display: grid;
    gap: 2rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      display: block;
    }

    li {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        margin-bottom: 2rem;
      }
    }
  }
}
