.cup {
  margin: 5rem auto;
  display: grid;
  gap: 5rem;

  @include respond(laptop) {
    grid-template-columns: max-content 1fr;
  }

  &__title {
    margin-bottom: 4rem;
  }

  &__form {
    justify-self: flex-start;
  }
}
