.description {
  display: grid;
  margin: 4rem auto;
  font-size: 12px;
  gap: 3rem;

  @include respond(tab) {
    gap: 5rem;
  }

  @include respond(laptop) {
    grid-template-columns: 450px 1fr;
    gap: 10rem;
    font-size: 14px;
    margin: 8rem auto;
    -ms-grid-columns: 450px 10rem 1fr;
  }

  &--zalog {
    gap: 3rem;
    grid-template-columns: 1fr;

    @include respond(laptop) {
      gap: 5rem;
      grid-template-columns: 350px 1fr;
      -ms-grid-columns:  350px 5rem 1fr;
    }
  }

  &--programm {
    margin: 4rem auto;
    gap: 2rem;

    @include respond(laptop) {
      margin: 8rem auto;
      grid-column-gap: 5rem;
      grid-template-columns: 495px 1fr;
    }
  }

  .simple-grid--small {
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      -ms-grid-column: 3;
      display: block;
    }
  }

  &__text {
    line-height: 24px;
    padding-right: 5rem;
    -ms-grid-column: 3;

    &--programm {
      padding-right: 0;

      @include respond(laptop) {
        padding-right: 5rem;
      }
    }
  }

  &__text-2 {
    line-height: 24px;
    padding-left: 0;
    -ms-grid-column: 3;
  }

    // display: grid;
    // gap: 2rem;
}
