.documents {
  &__document {
    display: grid;
    gap: 1rem;
    justify-items: center;
  }

  &__svg {
    width: 6rem;
  }

  &__panel {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: repeat(auto-fill, 18rem);
    gap: 5rem;
  }

  &__text {
    font-size: 1.4rem;
    padding: 0 2rem;
    text-align: center;
  }
}
