.docs {
  &__list {
    display: grid;
    margin: 5rem 0;
    gap: 5rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 2.3rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3b4144;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin-bottom: 5rem;
      display: flex;
    }
  }

  &__link {
    display: grid;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin-left: 2.3rem;
    }
  }

  &__span {
    font-size: 12px;
    line-height: 24px;
    color: rgba(59, 65, 68, 0.6);
  }
}
