.error {
  max-width: 1140px;
  margin: 5rem auto;

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  &__btn {
    max-width: 284px;
  }

  &__btn-articles {
    justify-content: flex-start;
    font-weight: 600;
    font-size: 16px;
    padding: 0;
  }

  &__content {
    display: grid;
    margin-top: -1rem;
    gap: 5rem;
    margin-bottom: 3rem;

    @include respond(phone) {
      margin-top: -5rem;
    }

    @include respond(laptop) {
      grid-template-columns: max-content 1fr;
      gap: 8rem;
      margin-top: -15rem;
    }
  }

  &__grid {
    display: grid;
    gap: 3rem;
    align-items: center;
    font-size: 12px;
    line-height: 16px;

    @include respond(laptop) {
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  &__text {
    display: grid;
    gap: 2rem;
  }

  &__footer {
    display: grid;
    gap: 4rem;
  }
}
