.extra-benefits {
  max-width: 1140px;
  margin: 5rem auto 5rem auto;

  @include respond(tab) {
    margin: 7rem auto 7rem auto;
  }

  &__title {
    text-align: center;
  }

  &__grid {
    display: grid;
    gap: 3rem;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr 1fr;
    
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-around;
      }
    }

    margin-top: 3rem;
    justify-items: center;
  }

  &__figure {
    grid-row: 1;

    @include respond(tab) {
      grid-column: 2;
      align-self: center;
    }

  }

  &__list {
    display: grid;
    gap: 3rem;
    -ms-grid-rows: 1fr 3rem 1fr 3rem 1fr;

    &--four {
      align-self: center;
      
      @include respond(tab) {
        gap: 6rem;
      }
    }

    &:last-child {
      -ms-grid-column: 3;
    }

    .benefits__list-item:nth-child(2) {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }

    .benefits__list-item:nth-child(3) {
      -ms-grid-column: 1;
      -ms-grid-row: 5;
    }
  }

  &__yours {
    display: inline;

    @include respond(laptop) {
      display: block;
    }
  }

  &__benefits {
    display: block;

    @include respond(laptop) {
      display: inline;
    }
  }

  &__img {
    width: 50%;
    margin: 0 auto;
    display: block;

    @include respond(tab) {
      width: 80%;
      max-width: 300px;
    }

    @include respond(laptop) {
      width: auto;
      max-width: 300px;
    }
  }
}
