.faq {
  max-width: 1141px;
  margin: -8rem auto 4rem auto;

  @include respond(tab) {
    margin: -2rem auto 4rem auto;
  }

  @include respond(desktop) {
    margin: 2rem auto 4rem auto;
  }

  &--product {
    margin: 0 auto 4rem auto;
  }

  &__heading {
    text-align: center;

    @include respond(tab) {
      text-align: left;
    }

    @include respond(desktop) {
      grid-column: 1;
      grid-row: 1;
    }
  }

  &__list {
    margin-top: 2rem;

    @include respond(desktop) {
      grid-row: 2;
      grid-column: 1;
    }
  }

  &__content {
    @include respond(desktop) {
      display: grid;
      grid-template-columns: 1fr 361px;
      column-gap: 5rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 5rem 361px;
      }
    }
  }
}
