.footer {
  background: linear-gradient(86.64deg, #695876 0%, #7081a0 100%);
  color: white;

  &__content {
    max-width: 1141px;
    margin: 0 auto;
    padding: 3rem 2rem;
    display: grid;
    row-gap: 3rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    @include respond(tab) {
      padding: 3rem 3rem;
      grid-template-rows: repeat(5, max-content);
      row-gap: 4rem;
      grid-template-columns: max-content 1fr;
      column-gap: 10%;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: -ms-grid;
        -ms-grid-columns: 200px 10% 1fr;
      }
    }

    @include respond(laptop) {
      padding: 4rem 3rem;
    }

    @include respond(desktop) {
      padding: 5rem 0;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    @include respond(tab) {
      grid-column: 2;
      grid-row: 1 / span 4;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-column: 3;
      }
    }

    @include respond(desktop) {
      // grid-column: 2;
      // grid-row: 1 / span 4;
      // grid-template-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
      }
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      -ms-grid-columns: 1fr 3rem 1fr;
      -ms-grid-rows: 1fr 3rem 1fr;
    }

    .ul:nth-child(1) {
      @include respond(desktop) {
        order: 1;
      }
    }
    .ul:nth-child(2) {
      @include respond(desktop) {
        order: 3;
        -ms-grid-row: 1;
        -ms-grid-column: 3;
      }

      -ms-grid-column: 3;
    }
    .ul:nth-child(3) {
      @include respond(desktop) {
        order: 2;
        -ms-grid-row: 1;
        -ms-grid-column: 4;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          margin-right: 2rem;
        }
      }

      -ms-grid-row: 3;
    }
    .ul:nth-child(4) {
      @include respond(desktop) {
        order: 4;
        -ms-grid-row: 1;
        -ms-grid-column: 7;
      }

      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: 500;

    &--secondary {
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 1rem;
      font-size: 1.2rem;

      &:hover {
        color: white;
      }
    }
  }

  &__logo {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;

    @include respond(tab) {
      max-width: unset;
      column-gap: 2rem;
      grid-column: 1;
      grid-row: 1;
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
      justify-content: center;
      height: 45px;
    }
  }

  &__logo-text {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    line-height: 20px;

    &--red {
      color: #fe3821;
    }
  }

  &__contacts {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

    @include respond(tab) {
      text-align: left;
      display: grid;
      gap: 1rem;
      font-size: 14px;
      grid-column: 1;
      grid-row: 2;
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
      margin: 5rem 0;
    }
  }

  &__phone {
    font-size: 16px;
    color: #fff;
    @include respond(tab) {
      font-weight: 500;
      font-size: 18px;
    }
  }

  &__legal {
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    display: grid;
    gap: 2rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    @include respond(tab) {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      padding-top: 2rem;
      grid-column: 1 / span 2;
      grid-row: 5;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: -ms-grid;
        grid-column: 1 / span 3;
        grid-row: 7;
      }
    }

    &--bottom {
      max-width: 900px;
    }
  }

  &__social {
    display: flex;
    justify-content: space-around;
    width: 170px;
    margin: 0 auto;

    @include respond(tab) {
      margin-left: 0;
      grid-column: 1;
      grid-row: 3;
      display: grid;
      grid-template-columns: repeat(3, max-content);
      gap: 3rem;
      justify-content: flex-start;
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: -ms-grid;
      -ms-grid-columns: 32px 3rem 32px 3rem 32px;
    }

    a:nth-child(2) {
      display: block;
      -ms-grid-column: 3;
    }

    a:nth-child(3) {
      display: block;
      -ms-grid-column: 5;
    }
  }

  &__social-link {
    fill: #b6b4c3;
    
    &:hover {
      fill: white;
      cursor: pointer;
    }

  }

  &__social-link path {
    fill: inherit;
    transition: all 0.32s ease-out;
  }
}
