.form-product {
  background: linear-gradient(246.33deg, #7081a0 2.53%, #695876 97.9%);
  max-width: 1140px;
  margin: 0 auto;
  
  @include respond(laptop) {
    margin: 0 auto 7rem auto;
    border-radius: 5px;
  }

  @include respond(desktop) {
    border-radius: 5px;
  }

  &__content {
    color: white;
    display: grid;
    gap: 2rem;

    @include respond(laptop) {
      grid-template-columns: max-content 1fr;
      padding: 1rem 10rem 0 0;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
      }
    }
  }

  &__figure {
    grid-row: 2;

    @include respond(laptop) {
      grid-row: 1;
      align-self: flex-end;
    }
  }

  &__img {
    display: block;
    width: 220px;
    margin: 0 auto;

    @include respond(laptop) {
      width: auto;
      max-width: 405px;
    }
  }

  &__form-grid {
    margin-top: 4rem;

    @include respond(laptop) {
      margin: 0;
      align-self: center;
      padding: 4rem 0;
    }
  }

  &__form {
    display: grid;
    row-gap: 3rem;
    column-gap: 2rem;
    margin: 3rem 0 2rem 0;
    font-size: 14px;
    line-height: 24px;

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 300px 2rem 300px;
        grid-template-rows: 1fr 3rem 1fr 3rem 1fr 3rem 50px 3rem 24px;
      }
    }

    button {
      -ms-grid-row: 7;
    }
  }

  &__text {
    @include respond(laptop) {
      grid-column: 1 / span 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 5;
    }
  }

  &__files {
    display: flex;
    font-weight: 600;
    font-size: 16px;

    @include respond(laptop) {
      grid-column: 1 / span 2;
    }

    &--add {
      margin-left: 20px;
      cursor: pointer;
    }

    &--input {
      display: none;
    }
  }

  &__legal {
    font-size: 14px;
    margin-top: 4rem; 
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }

  &__label {
    display: grid;
    gap: 1rem;
    font-weight: 500;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    &:nth-child(2) {
      -ms-grid-column: 3;
    }

    &:nth-child(3) {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }

    &:nth-child(4) {
      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }

    input {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 1rem;
      }
    }
  }

}

#form-product-vyezd-menedzhera {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    grid-template-rows: 85px 3rem 85px 3rem 50px 3rem 24px;
  }

  button {
    -ms-grid-row: 5 !important;
  }

  .opd {
    -ms-grid-row: 7;
    -ms-grid-column-span: 3;
  }
}

#form-sontrudnichestvo {
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    grid-template-rows: 85px 3rem 85px 3rem 50px 3rem 24px;
  }

  button {
    -ms-grid-row: 5 !important;
  }

  .opd {
    -ms-grid-row: 7;
    -ms-grid-column-span: 3;
  }
}