.form-value {
  background: linear-gradient(85.66deg, #695876 20.62%, #7081a0 95.57%);
  position: relative;
  // max-width: 1141px;
  margin-bottom: 5rem;

  // @include respond(laptop) {
  //   margin-bottom: 5rem;
  // }

  @include respond(desktop) {
    border-radius: 5px;
    max-width: 1141px;
    margin-left: auto;
    margin-right: auto;
  }

  &__heading {
    @include respond(tab) {
      margin-bottom: 4rem;
    }
  }

  &__icon {
    position: absolute;
    top: -15px;
    right: 25px;
    z-index: 10;
  }

  &__content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    // overflow: hidden;
    color: white;
    position: relative;

    @include respond(desktop) {
      text-align: left;
      padding-left: 25rem;
      padding-bottom: 6rem;
    }
  }

  &__figure {
    @include respond(desktop) {
    }
  }

  &__tabs {
    display: none;

    @include respond(tab) {
      display: flex;
      justify-content: center;
    }

    &--calculator {
      @include respond(tab) {
        justify-content: initial;
        grid-column: 1 / span 2;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          justify-content: flex-start;
        }
      }
    }
  }

  &__tab {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 3rem;
    font-size: 14px;
    font-weight: 400;

    &--active {
      color: white;
    }

    &:hover {
      cursor: pointer;
    }

    &--calculator {
      color: #3b4144;
      opacity: 0.3;

      &-active {
        opacity: 1;
      }
    }
  }

  &__image {
    width: 80%;
    display: block;
    margin: 0 auto;

    @include respond(tab) {
      width: 50%;
    }

    @include respond(desktop) {
      width: 40%;
      position: absolute;
      left: -220px;
      top: 15%;
    }

    &--half {
      width: 21%;
      position: absolute;
      left: 0px;
      top: 18%;
    }
  }

  &__form {
    margin-top: 2rem;
    padding: 0 2rem;
    display: grid;
    gap: 2rem;

    @include respond(tab) {
      grid-template-columns: repeat(5, 1fr);
      gap: 0;
      justify-items: center;
      row-gap: 2rem;
      padding: 0 4rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 2rem 1fr 2rem 1fr;
      }
    }

    @include respond(desktop) {
      padding: 0 4rem 0 0;
      justify-items: flex-start;
    }

    &--product {
      margin: 0 0 2.5rem 0;
      padding: 0;

      @include respond(tab) {
        grid-column: 1 / span 2;

        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 3;
      }

      @include respond(desktop) {
        margin: 0;
        grid-column: 1;

        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 3;
      }
    }

    input:nth-child(3) {
      -ms-grid-column: 3;
    }

    input:nth-child(4) {
      -ms-grid-column: 4;
    }

    input:nth-child(5) {
      -ms-grid-column: 5;
    }
  }

  &__heading-block {
    display: block;

    @include respond(tab) {
      display: inline;
    }
  }

  &__input-phone {
    @include respond(tab) {
      grid-column: 1 / 4;
      grid-row: 2;
      width: 55%;
      -ms-grid-column: 2;
      -ms-grid-row: 3;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        width: 330px;
        transform: translateX(-50px);
      }
    }

    @include respond(desktop) {
      grid-column: 1 / 3;
      width: 75%;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        transform: translateX(0px);
      }
    }
  }

  &__btn {
    @include respond(tab) {
      grid-column: 3 / -1;
      grid-row: 2;
      width: 66%;
    }

    @include respond(laptop) {
      width: 55%;
      -ms-grid-column: 4;
      -ms-grid-column-span: 2;
      -ms-grid-row: 3;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        width: 330px;
        transform: translateX(-60px);
      }
    }

    @include respond(desktop) {
      grid-column: 2 / 5;
      width: 334px;
      justify-self: center;
      margin-left: 40px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        transform: translateX(0px);
      }
    }
  }

  &-arrow {
    position: absolute;
    right: 11px;
    top: 40%;
    z-index: 99999;
    fill: rgba(60,60,60,.5);
    transition: transform .15s cubic-bezier(1,-.115,.975,.855);
    transition-timing-function: cubic-bezier(1,-.115,.975,.855);

    &--active {
      transform: rotate(180deg);
    }
  }

  &-select-wrap {
    position: relative;
  }

  &-model-wrap {
    -ms-grid-column: 2;
  }
}

input.form-value-select {
  outline: none;
  width: 100%;
  border: 1px solid #edf6fa;
  padding: 1.5rem;
  padding-right: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: relative;
  border-radius: 5px;

  @include respond(tab) {
    border-radius: 0px;
  }

  &--marka {
  
    @include respond(tab) {
      border-radius: 5px 0 0 5px;
    }
  }

  &--request {
    border-radius: 5px;
  }
}

input.form-value-select.input-phone--form {
  border: 1px solid #dae6eb;
}