.header {
  &__content {
    @include respond(tab) {
      position: relative;
      overflow: hidden;
    }

    @include respond(laptop) {
      height: 600px;
    }
  }

  &__swiper-main {
    display: none;

    @include respond(tab) {
      display: block;
    }
  }

  &__swiper-mobile {
    @include respond(tab) {
      display: none;
    }
  }

  &__swiper-thumbs {
    overflow: hidden;
  }

  &--ie {
    display: none;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block !important;
    }
  }

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    display: none;
  }
}
