.how-loyal {
  margin: 5rem auto;
  display: grid;
  gap: 5rem;

  @include respond(laptop) {
    grid-template-columns: 1fr max-content;
  }

  &__phone {
    font-weight: 500;
    font-size: 18px;
  }
}
