.just-two {
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @include respond(laptop) {
    // height: 450px;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  &__content {
    display: grid;
    gap: 3rem;
    // padding-bottom: 3rem;

    @include respond(tab) {
      grid-template-columns: max-content 1fr;
      align-items: center;
    }

    @include respond(laptop) {
      grid-template-columns: max-content 1fr max-content;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__text-grid {
    display: grid;
    max-width: 364px;
    gap: 2.5rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }

  &__passport {
    justify-self: center;
  }

  &__man {
    display: none;

    @include respond(laptop) {
      display: block;
      justify-self: flex-end;
      align-self: flex-end;
    }
  }

  &__man-img {
    width: 95%;
    display: block;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    max-width: 320px;

    &--bold {
      font-weight: 500;
      font-size: 16px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin: 2.5rem 0;
      }
    }
  }
}
