.just-three {
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3rem;

  @include respond(laptop) {
    margin-top: 7rem;
    margin-bottom: 5rem;
  }

  &__content {
    display: grid;
    gap: 2rem;
    padding-bottom: 3rem;
    justify-content: center;
    justify-items: center;

    @include respond(laptop) {
      grid-template-columns: 1fr max-content max-content max-content;
      align-items: center;
      justify-items: initial;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__text-grid {
    display: grid;
    text-align: center;
    gap: 2.5rem;
    justify-content: center;

    @include respond(laptop) {
      max-width: 364px;
      text-align: initial;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
        text-align: left;
      }
    }
  }

  &__passport {
    justify-self: center;
  }

  &__man {
    display: none;

    @include respond(laptop) {
      display: block;
      justify-self: flex-end;
      align-self: flex-end;
    }
  }

  &__man-img {
    width: 95%;
    display: block;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    max-width: 320px;

    &--bold {
      font-weight: 500;
      font-size: 16px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin: 2.5rem 0;
      }
    }
  }
}
