.luxury {
  max-width: 1140px;
  margin: 4rem auto 6rem auto;
  text-align: center;

  @include respond(tab) {
    margin: 4rem auto 8rem auto;
  }

  &--vip {
    margin-top: -16rem;
  }

  &__models {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem 0;
    align-items: center;
    justify-items: center;
    row-gap: 5rem;

    @include respond(tab) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__model {
    opacity: 0.3;
    transition: all 0.32s ease-out;
    transform: scale(0.8);

    @include respond(tab) {
      transform: scale(0.8);
    }

    &:last-child {
      grid-column: 1 / span 2;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  &__form {
    display: grid;

    gap: 2rem;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    width: 100%;
    margin: 2rem auto;

    @include respond(tab) {
      width: 80%;
      gap: 5rem;
    }

    @include respond(laptop) {
      grid-template-columns: 1fr 207px 207px;
      gap: 2rem;
      width: 77%;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 2rem 207px 2rem 207px;
        grid-template-rows: 1fr 2rem 1fr;
      }
    }

    @include respond(desktop) {
      width: 82%;
    }

    input {
      -ms-grid-column: 3;
    }

    button {
      -ms-grid-column: 5;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    margin-top: 3rem;

    @include respond(tab) {
      font-size: 18px;
    }
  }
}
