.most-quote {
  background: #edf6fa;
  position: relative;

  @include respond(laptop) {
    margin-bottom: 10rem;
    border-radius: 5px;
    padding: 0;
  }

  // &--vodnyi {
  //   @include respond(laptop) {
  //     max-height: 470px;
  //     overflow: hidden;
  //   }
  // }

  &__grid {
    @include respond(laptop) {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 2rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
      }
    }
  }

  &__text {
    padding: 41rem 0 5rem 0;
    display: grid;
    gap: 2em;
    align-content: flex-start;
    position: relative;
    z-index: 5;

    @include respond(laptop) {
      padding: 5rem 10rem 5rem 0;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
        max-width: 790px;
      }
    }

    .text {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 2rem;
        max-width: 650px;
      }
    }
  }

  &__quote {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 1rem 0;
    display: flex;
    // justify-content: space-between;
    color: #3b4144;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin-top: 2rem;
      display: block;
      max-width: 550px;
    }

    @include respond(tab) {
      &::before {
        content: "\201C";
        font-weight: 300;
        font-size: 188px;
        color: rgba(0, 0, 0, 0.2);
        padding-top: 40px;
        margin-right: 20px;
        transform: translateY(30px);

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          transform: translateY(65px);
        }
      }
    }

    &--benefits {
      font-weight: 300;
      font-size: 14px;
      width: 87%;
    }

    &--about {
      font-weight: 300;
      font-size: 14px;
    }

    .hide-desktop {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
       display: block;
       max-width: 420px;
      }
    }

    .show-desktop {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
       display: block;
       max-width: 550px;
      }
    }
  }

  &__author {
    font-size: 18px;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin-top: 2rem;
    }
  }

  &__mostovoy {
    margin-top: -10px;
    @include respond(laptop) {
      display: none;
    }
  }

  &__paragraphs {
    display: grid;
    gap: 2rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      display: block;
    }
  }

  &__figure {
    position: absolute;
    top: 0;
    left: 0;

    @include respond(laptop) {
      position: relative;
      grid-column: 1;
      grid-row: 1;
      z-index: 2;
      justify-self: flex-end;
      align-self: flex-end;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-right: 2rem;
      }
    }
  }

  &__text {

    .heading-2 {
      @include respond(tab) {
        position: absolute;
        // max-width: 350px;
        right: 3vw;
        top: 60px;
        max-width: 392px;
      }
      @include respond(laptop) {
        position: static;
        max-width: unset;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          max-width: 100%;
        }
      }
    }

  }

 

  &__intersection {
    position: relative;
    height: 66%;
    width: 100%;
    background: #D4E2E8;
    opacity: 0.65;
    clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;

    &--small {
      height: 61%;
    } 

    @include respond(tab) {
      height: 450px;
      clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    }

    @include respond(laptop) {
      display: none;
    }
  }

  &__intersection-container {
    height: 65%;
    position: absolute;
    bottom: 0;
    left: 0;
    // background: #edf6fa;
    background: #E5EDF1;
    clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    z-index: 3;

    &--small {
      height: 60%;
    } 

    @include respond(tab) {
      height: 440px;
      clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    }
  
    @include respond(laptop) {
      display: none;
    }
  }
}
