.nav {
  position: relative;
  z-index: 10;
  border: 1px solid #EDF6FA;

  @include respond(tab) {
    padding: 1.8rem 0 0.5rem 0;
  }

  @include respond(laptop) {
    padding-top: 2.3rem;
    height: 116px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    // justify-content: space-between;
    padding: 1rem 1.5rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include respond(tab) {
      padding-right: 3rem;
      grid-template-columns: max-content 1fr repeat(2, max-content);
      column-gap: 3rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
      }
    }

    @include respond(laptop) {
      grid-template-rows: 1fr max-content;
      grid-template-columns: max-content 1fr max-content;
      max-width: 1141px;
      padding: 0 3rem;
      box-sizing: content-box;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 3rem 1fr 3rem 1fr;
      }
    }
  }

  &__logo {
    // transform: scale(0.8);
    position: relative;
    z-index: 6;

    @include respond(tab) {
      transform: scale(1);
      display: grid;
      grid-template-columns: max-content max-content;
      column-gap: 2rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 2rem 1fr;
      }
    }

    @include respond(laptop) {
      grid-row: 1 / 3;
      grid-column: 1;
    }

    img {
      border: none;
    }
  }

  &__logo-text {
    display: none;
    color:  #3b4144;

    @include respond(tab) {
      display: block;
      font-size: 2rem;
      font-weight: 600;
      line-height: 20px;
    }

    &--red {
      color: #fe3821;
    }
  }

  &__contacts {
    @include respond(tab) {
      justify-self: end;
      display: grid;
      text-align: right;
    }

    @include respond(desktop) {
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      -ms-grid-column: 5;
      transform: translateX(-3rem);
    }

    &--hours {
      display: none;

      @include respond(tab) {
        display: block;
        font-weight: normal;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        text-align: right;
      }
    }
  }

  &__burger {
    justify-self: end;

    @include respond(laptop) {
      display: none;
    }
  }

  &__btn {
    display: none;

    @include respond(tab) {
      display: grid;
      font-weight: 600;
      font-size: 12px;
      color: #ffffff;
      width: 162px;
      height: 34px;
      align-items: center;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 6;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }
  }

  &__ul {
    display: none;

    @include respond(laptop) {
      display: grid;
      grid-template-columns: repeat(6, max-content);
      grid-row: 2;
      grid-column: 1 / -1;
      justify-self: end;
      column-gap: 2rem;
      padding: 1rem 0;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 75px 2rem 87px 2rem 106px 2rem 72px 2rem 120px 2rem 77px;
        -ms-grid-column: 4;
        -ms-grid-column-span: 4;
      }
    }
  }

  &__list-item {
    position: relative;

    &:nth-child(2) {
      -ms-grid-column: 3;
    }

    &:nth-child(3) {
      -ms-grid-column: 5;
    }

    &:nth-child(4) {
      -ms-grid-column: 7;
    }

    &:nth-child(5) {
      -ms-grid-column: 9;
    }

    &:nth-child(6) {
      -ms-grid-column: 11;
    }
  }
}
