.offers {
  margin: 5rem auto;

  &__content {
    margin: 5rem auto;
  }

  &__swiper {
    margin-bottom: 5rem;
  }

  &__tabs {
    margin-bottom: 5rem;
  }

  &__tab {
    color: #3b4144;
    opacity: 0.3;
    margin-right: 3rem;
    font-size: 14px;
    font-weight: 400;

    &--active {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__grid {
    display: grid;
    gap: 3rem;

    @include respond(tab) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
}
