.offer {
  &__grid {
    display: grid;
    margin: 5rem auto;
    gap: 5rem;

    @include respond(desktop) {
      grid-template-columns: max-content 1fr;
    }
  }

  &__content {
    // display: grid;
    gap: 3rem;
  }

  &__offer-end {
    font-weight: 500;
    font-size: 18px;
    margin-top: 3rem;
  }

  &__clock {
    display: grid;
    grid-template-columns: 100px repeat(3, 150px);
    margin: 2rem 0 4rem 0;
  }

  &__clock-item {
    display: grid;
    font-size: 14px;
    justify-items: center;

    &:first-child {
      justify-self: flex-start;
      padding-right: 4rem;
    }

    &:not(:last-child) {
      border-right: 1px solid #edf6fa;
    }
  }

  &__clock-number {
    color: #fd3400;
    font-weight: 500;
    font-size: 48px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    width: 526px;
    margin-bottom: 5rem;
  }
}
