.partnership {
  margin-bottom: 5rem;
  margin-top: 3rem;

  @include respond(laptop) {
    margin-bottom: 8rem;
    margin-top: 0;
  }

  &__grid {
    display: grid;
    margin-bottom: 5rem;

    @include respond(laptop) {
      grid-template-columns: 60% max-content;
      margin-bottom: 8rem;
      -ms-grid-columns: 685px 400px;
    }

    &--figure {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        -ms-grid-column: 2;
        display: block;
      }
    }
  }

  &__title {
    margin-bottom: 5rem;
  }

  &__text-bold {
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
    grid-row-gap: 2rem;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 0;
    }
  }

  &__list-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 35px;
    margin-top: 30px;
  }

  &__list-item {
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 2rem;
    max-width: 90%;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      display: block;
    }

    &:nth-child(2) {
      -ms-grid-column: 2;
    }

    &:nth-child(3) {
      -ms-grid-column: 3;
    }
  }

  &__img {
    max-width: 400px;
  }
}
