.priority-benefits {
  background: #edf6fa;
  position: relative;
  overflow: hidden;

  @include respond(laptop) {
    margin-bottom: 5rem;
  }

  @include respond(desktop) {
    margin-bottom: 8rem;
  }

  &__grid {
    @include respond(laptop) {
      display: grid;
      grid-template-columns: 445px 1fr;
      gap: 2rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        align-items: flex-end;
      }
    }

    &--spectehnika {
      @include respond(laptop) {
        display: grid;
        grid-template-columns: 385px 1fr;
        gap: 2rem;
      }
    }

    &--moto,
    &--ur {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: grid;
      }
    }
  }

  &__content {
    display: grid;
    gap: 2rem;
    align-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 6rem;
    position: relative;
    z-index: 10;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      -ms-grid-column: 2;
      display: block;
      margin-left: 6rem;
    }

    @include respond(tab) {
      padding-top: 0rem;
      padding-bottom: 6rem;
    }

    @include respond(laptop) {
      padding: 9rem 0;
      gap: 4rem;
    }

    p.text {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        max-width: 676px;
      }
    }

    &--o-nas {
      @include respond(laptop) {
        gap: 2rem;
        padding-top: 7rem;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
          display: block;
          max-width: 600px;
        }
      }
    }

    &--spectehnika {
      @include respond(laptop) {
        gap: 2rem;
        padding: 5rem 0;
      }
    }

    &--moto {
      @include respond(laptop) {
        padding: 8rem 0;
      }
    }

    &--ur {
      @include respond(laptop) {
        padding: 8rem 0;
      }
    }

    &--vodnyi {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        max-width: 676px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -3rem;
      width: 116%;
      height: calc(100% + 40px);
      z-index: -1;
      background: #E5EDF1;
      clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
  
      @include respond(tab) {
        height: calc(100% + 100px);
        clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
      }
  
      @include respond(laptop) {
        display: none;
      }
    }
  
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -3rem;
      width: 116%;
      height: calc(100% + 50px);
      z-index: -1;
      background: #D4E2E8;
      opacity: 0.65;
      clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
  
      @include respond(tab) {
        height: calc(100% + 110px);
        clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
      }
  
      @include respond(laptop) {
        display: none;
      }
    }
  }

  &__content-text {
    display: grid;
    gap: 0.6rem;
    font-size: 14px;

    .block {
      display: inline;
      @include respond(tab) {
        display: block;
      }
    }

    @include respond(tab) {
      display: none;
      // position: absolute;
      // max-width: 350px;
      // right: 2vw;
      // transform: translate(0px, -350px);
    }

    @include respond(laptop) {
      display: block;
      right: 0;
      position: relative;
      max-width: unset;
      transform: translate(0px, 0px);
    }

    .heading-2 {
      @include respond(tab) {
        margin-bottom: 10px;
      }
    }

    &--tab {
      display: none;
      @include respond(tab) {
        display: block;
        margin-top: 80px;
      }

      @include respond(laptop) {
        display: none;
      }

    }
  }

  &__list {
    grid-row: 2;
    gap: 4rem;
    display: grid;
    justify-content: center;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin-top: 4rem;
    }

    @include respond(tab) {
      grid-template-columns: 300px 300px;
    }

    @include respond(laptop) {
      // margin-top: 40px;
      grid-template-columns: 1fr 1fr;
      justify-content: start;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 4rem 1fr;
        grid-template-rows: 1fr 4rem 1fr 4rem 1fr;
      }
    }
    
    &--pts {
      @include respond(laptop) {
       
      }
    }
  }

  &__figure {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    justify-self: flex-end;
    align-items: flex-end;
    display: grid;

    @include respond(tab) {
      grid-template-columns: 295px 328px;
      grid-column-gap: 20px;
      justify-content: center;
      align-items: start;
      margin-bottom: -40px;
    }

    @include respond(laptop) {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 0px;
    }
  }

  // &__intersection {
  //   position: relative;
  //   height: 71%;
  //   width: 100%;
  //   background: #D4E2E8;
  //   opacity: 0.65;
  //   clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 4;

  //   @include respond(tab) {
  //     height: 400px;
  //     clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  //   }

  //   @include respond(laptop) {
  //     display: none;
  //   }

  //   &--o-nas {
  //     @include respond(tab) {
  //       height: 520px;
  //       clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
  //     }
  //   }
  // }

  // &__intersection-container {
  //   height: 70%;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   // background: #edf6fa;
  //   background: #E5EDF1;
  //   clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
  //   width: 100%;
  //   z-index: 3;

  //   @include respond(tab) {
  //     height: 390px;
  //     clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  //   }
  
  //   @include respond(laptop) {
  //     display: none;
  //   }

  //   &--o-nas {
  //     @include respond(tab) {
  //       height: 510px;
  //       clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
  //     }
  //   }
  // }

  &__img {
    // transform: translate(-30px, 0px);
    margin: 0 auto;
    max-width: 300px;

    @include respond(tab) {
      // transform: translate(-60px, 0px);
      max-height: 438px;
      width: unset;
      max-width: unset;
    }
    @include respond(laptop) {
      margin-left: 0;
      // transform: translate(-20px, 0px);
      max-height: 625px;
      width: unset;
      max-width: unset;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        max-width: 100%;
      }
    }

    &--vodnyi {
      @include respond(laptop) {
        max-height: unset;
      }
    }

    &--spectehnika {
      @include respond(laptop) {
        max-height: unset;
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          transform: translateY(100px);
        }
      }
    }

    &--moto {
      @include respond(laptop) {
        max-height: unset;
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          transform: translateY(200px);
        }
      }
    }

    &--ur {
      @include respond(laptop) {
        max-height: unset;
      }
    }

    
  }
}
