.products-slider {
  background: #edf6fa;

  &__grid {
    padding-top: 2rem;
    overflow: hidden;
    
    @include respond(laptop) {
      display: grid;
      grid-template-columns: 35% 65%;
      -ms-grid-columns: 35% 2rem 65%;
    }

    @include respond(desktop) {
      padding-top: 0rem;
      grid-template-columns: 420px 711px;
      justify-content: space-between;
      -ms-grid-columns: 420px 2rem 711px;
    }
  }

  &__content {
    padding: 3rem 0;

    @include respond(laptop) {
      // display: grid;
      // gap: 4rem;
      align-self: center;
      -ms-grid-column: 3;
    }

    .swiper-container {
      margin: 3rem auto;

      @include respond(laptop) {
        margin: 0rem auto;
      }
    }

  }

  &__img {
    align-self: end;
  }
}

.products-carousel {
  overflow: hidden;
  margin: 3rem 0;
}