.products {
  // overflow-y: hidden;
  max-width: 1141px;
  margin: 3rem auto;

  @include respond(tab) {
    overflow: visible;
    margin: 5rem auto;
  }

  &__content {
    padding: 0 1.5rem;
    overflow: hidden;

    @include respond(tab) {
      padding: 0 3rem;
      overflow: visible;
    }

    @include respond(desktop) {
      padding: 0;
    }
  }

  &__swiper {
    overflow: visible;
    @include respond(tab) {
      display: none;
    }
  }

  &__container {
    display: none;
    // display: grid;
    row-gap: 4rem;

    @include respond(tab) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
      row-gap: 5rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 1fr 3rem 1fr 3rem 1fr;
      }
    }

    @include respond(laptop) {
      column-gap: 3rem;
    }

    a:nth-child(2) {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 3;
        display: block;
      }
      
    }

    a:nth-child(3) {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 5;
        display: block;
      }
    }

    a:nth-child(4) {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        display: block;
      }
      
    }

    a:nth-child(5) {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 3;
        -ms-grid-row: 3;
        display: block;
      }
    }

    a:nth-child(6) {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 5;
        -ms-grid-row: 3;
        display: block;
      }
      
    }

    a:nth-child(7) {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 1;
        -ms-grid-row: 5;
        display: block;
      }
    }

    a:nth-child(8) {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 3;
        -ms-grid-row: 5;
        display: block;
      }
    }

    a:nth-child(9) {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        -ms-grid-column: 5;
        -ms-grid-row: 5;
        display: block;
      }
    }
  }
}
