.programm {

  &__heading {
    @include respond(laptop) {
      max-width: 450px;
    }
  }

  &__heading--text {
    @include respond(laptop) {
      max-width: 450px;
    }
  }

  &-cards {
    
    &__item {
      background: #EDF6FA;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 35px 25px;

      @include respond(tab) {
        flex-direction: row;
        margin-bottom: 30px;
      }

      @include respond(laptop) {
        padding: 60px;
        padding-bottom: 50px;
      }

      &--gold {
        @include respond(tab) {
          flex-direction: row-reverse;
        }

        .programm-cards__item--right {
          @include respond(tab) {
            margin-left: 0rem;
          }
        }

        .programm-cards__item--left {
          @include respond(tab) {
            margin-right: 2rem;
          }
        }
      }

      &--left {
        margin-bottom: 30px;

        @include respond(tab) {
          margin-bottom: 0;
        }
      }

      &--right {
        @include respond(tab) {
          max-width: 62%;
          margin-left: 2rem;
        }
      }

      &-img {
        width: 100%;
        height: auto;
        max-width: 300px;

        @include respond(laptop) {
          max-width: unset;
        }

      }
  
      &-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #3B4144;
        margin-bottom: 20px;

        @include respond(tab) {
          font-size: 24px;
          line-height: 36px;
        }

      }

      &-list__item {
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 10px;
        color: #3B4144;
        position: relative;
        padding-left: 26px;

        &:before {
          position: absolute;
          content: '';
          height: 1px;
          width: 15px;
          top: 1rem;
          background: #3B4144;
          left: 0;

          @include respond(tab) {
            width: 20px;
          }
        }

        @include respond(tab) {
          font-size: 14px;
          line-height: 24px;
          padding-left: 38px;
         
        }
      }
    }

  }

  &-club {
    background: #EDF6FA;
    margin-top: 4rem;
    margin-bottom: 4rem;
    overflow: hidden; 

    @include respond(laptop) {
      margin: 7rem 0;
    }

    &__content {
      // display: flex;
      // flex-direction: column;
      position: relative;
      padding-bottom: 4rem;
      z-index: 0;

      @include respond(laptop) {
        max-width: 690px;
        padding-top: 3rem;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -3rem;
        width: 116%;
        height: calc(100% + 70px);
        z-index: -1;
        background: linear-gradient(26.37deg, #EDF6FA 27.68%, #E5EDF1 84.13%);
        border-radius: 5px;
        clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);

        @include respond(tab) {
          // height: 330px;
        }

        @include respond(laptop) {
          display: none;
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -3rem;
        width: 116%;
        height: calc(100% + 80px);
        z-index: -1;
        background: #D4E2E8;
        opacity: 0.65;
        clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);


        @include respond(laptop) {
          display: none;
        }
      }

      @include respond(laptop) {
        flex-direction: row;
      }
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond(laptop) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__img {
      width: 100%;
      height: auto;
      max-width: 400px;

      @include respond(laptop) {
        max-width: 480px;
        transform: translateX(-4rem);
      }
    }

    &__title {
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 2rem;

      @include respond(tab) {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 4rem;
      }
    }
  }

  &-all {
    &__wrap {
      display: flex;
      flex-direction: column;

      @include respond(laptop) {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }

    &__img {
      width: 100%;
      height: auto;
      margin-bottom: 3rem;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;

      @include respond(tab) {
        width: 40%;
      }
    }

    &__title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 2rem;

      @include respond(tab) {
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
      }
    }

    &__text--1 {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #3B4144;
      margin-bottom: 2rem;
      text-decoration: none;
      display: block;

      @include respond(tab) {
        font-size: 16px;
      }
    }

    &__text--2 {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: #474D50;
      margin-bottom: 2rem;
      

      @include respond(tab) {
        font-size: 14px;
        line-height: 24px;
        color: #3B4144;
        max-width: 490px;
      }
    }
  }
}