.pts {
  background: linear-gradient(247.45deg, #6e7e9c 6.23%, #695876 93.97%);
  max-width: 1140px;
  margin: 5rem 20px 5rem 20px;
  position: relative;
  border-radius: 5px;

  @include respond(laptop) {
    margin-left: auto;
    margin-right: auto;
  }

  @include respond(desktop) {
    border-radius: 5px;
  }

  &__content {
    display: grid;
    color: white;
    text-align: center;

    @include respond(laptop) {
      grid-template-columns: max-content 1fr;
      gap: 5rem;
      text-align: left;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
      }
    }
  }

  &__figure {
    grid-row: 2;
    margin-top: 3rem;

    @include respond(laptop) {
      grid-row: 1;
      margin-top: 0;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-right: 5rem;
      }
    }
  }

  &__img {
    display: block;
    width: 80%;

    @include respond(tab) {
      width: auto;
    }
  }

  &__icon {
    position: absolute;
    top: -5%;
    right: 20px;
    z-index: 10;
  }

  &__text-grid {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    align-self: center;
    display: grid;
    gap: 3rem;
    margin-top: 5rem;

    @include respond(laptop) {
      width: 80%;
      margin: 0;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }
  }

  &__list {
    display: grid;
    gap: 1rem;
    text-align: left;
    font-size: 12px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin: 3rem 0;
      display: block;
    }
  }

  &__list-item {
    display: grid;
    gap: 2rem;
    grid-template-columns: max-content 1fr;
    align-items: baseline;
    -ms-grid-column: 3;
    &::before {
      content: "";
      width: 15px;
      height: 1px;
      background: #fff;
      transform: translate(7px, -4px);
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
      display: block; 
    }
  }

  &__btn {
    margin: 0 auto;
    max-width: 225px;

    @include respond(tab) {
      max-width: 250px;
    }

    @include respond(laptop) {
      margin-left: 0;
    }
  }
}
