.requirements {
  margin: 3rem auto;

  @include respond(tab) {
    margin: 5rem auto;
  }

  &__header { 
    margin-bottom: 1rem;

    @include respond(laptop) {
      margin: 5rem 0;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5rem;

    @include respond(laptop) {
      width: 670px;
      margin-bottom: 8rem;
    }
  }

  &__content {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @include respond(tab) {
      margin: 5rem 0;
    }

    @include respond(laptop) {
      grid-template-columns: 2fr 1fr;
      gap: 5rem;
      -ms-grid-columns: 2fr 5rem 1fr;
      margin-bottom: 7rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-between;
      }
    }

    &--car {
      display: none;
      @include respond(laptop) {
        grid-template-columns: max-content 1fr;
      }
    }

    &--person {
      figure {
        -ms-grid-column: 3;
      }
    }
  }

  &__content-car {
    display: grid;
    gap: 3rem;
    align-content: flex-start;
    font-size: 14px;
    line-height: 24px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
      max-width: 1140px;
      margin-top: 3rem;
    }
  }

  &__list {
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      max-width: 680px;
    }
  }

  &__list-item {
    border-bottom: 1px solid #edf6fa;
    font-size: 14px;
    display: grid;
    gap: 1rem;
    padding: 2rem 0;

    @include respond(tab) {
      grid-template-columns: 35% 65%;
      gap: 3rem;
      -ms-grid-columns: 35% 3rem 65%;
    }

    @include respond(laptop) {
      gap: 5rem;
    }
  }

  &__list-param {
    font-weight: 600;
    max-width: 280px;
  }

  &__list-payload{
    -ms-grid-column: 3;
  }

  &__ul {
    display: grid;
    gap: 1rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }

  &__figure-car {
    align-self: center;
  }

  &__img {
    display: block;
    margin: 0 auto;
    text-align: center;

    @include respond(laptop) {
      display: none;
    }

    &--chair {
      max-width: 410px;
    }
  }
}
