.request {
  margin: 3rem auto;
  display: grid;
  gap: 3rem;

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    display: block;
  }

  @include respond(tab) {
    margin: 5rem auto;
  }

  @include respond(laptop) {
    margin: 8rem auto;
    gap: 5rem;
  }

  &__list {
    display: grid;
    gap: 9rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      margin-top: 3rem;
      display: block;
    }
  }

  &__list-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    @include respond(laptop) {
      grid-template-columns: 25% 1fr;
      -ms-grid-columns:  25% 3rem 1fr;
    }

    @include respond(desktop) {
      grid-template-columns: 30% 1fr;
      gap: 5rem;
      -ms-grid-columns: 340px 5rem 1fr;
    }

    &:nth-child(2) {
      -ms-grid-row: 3;
    }

    &:nth-child(3) {
      -ms-grid-row: 5;
    }
  }

  &__list-content {
    -ms-grid-column: 3;
  }

  &__step-form {
    display: grid;
    grid-row-gap: 5rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }

  // &__list-content {
  //   display: grid;
  //   gap: 3rem;
  // }

  &__progress-content {
    display: grid;
    gap: 3rem;

    @include respond(tab) {
      grid-column: 1 / span 12;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-bottom: 4rem;
        -ms-grid-column-span: 23;
      }
    }
  }

  &__progress {
    border-radius: 15px;
    height: 24px;
    width: 100%;
    display: grid;
    background: #edf6fa;
    color: white;
    font-size: 12px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
      margin-top: 3rem;
      width: 750px;
      position: relative;
    }
  }

  &__progress-value {
    grid-row: 1;
    border-radius: 15px;
    background: #fd3400;
    z-index: 2;
    grid-column: 1;
  }

  &__progress-text {
    grid-row: 1;
    grid-column: 1;
    z-index: 3;
    padding: 0 2rem;
    align-self: center;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      position: absolute;
      left: 0;
      top: 3px;
    }
  }

  &__form {
    display: grid;
    gap: 3rem;

    @include respond(tab) {
      grid-template-columns: repeat(12, 1fr);
      gap: 4rem;
      -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr 4rem 1fr 4rem 1fr 4rem 1fr 4rem 1fr 4rem 1fr 4rem 1fr 4rem 1fr 4rem 1fr 4rem 1fr;
    }

    button {
      -ms-grid-column-span: 5;
    }

    .form-lead__label {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        margin-bottom: 4rem;
      }
    }

    .form-value-select-wrap {
      -ms-grid-row: 3;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &__files {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(42, 114, 146, 0.1);
    border-radius: 5px;
    display: grid;
  
    @include respond(tab) {
      grid-template-columns: 1fr 1fr;
      grid-column: 1 / span 12;
      -ms-grid-column-span: 23;
    }

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
      margin-bottom: 4rem;
    }
  }

  &__file {
    margin: 6rem 0;
    padding: 0 3rem;
    display: grid;
    justify-items: center;
    gap: 2rem;
    font-size: 14px;
    line-height: 24px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:first-child {
      border-right: 1px solid #edf6fa;
      // padding-right: 10rem;
    }

    &:last-child {
      -ms-grid-column: 2;
    }

    @include respond(tab) {
      padding: 0 6rem;
    }

    @include respond(laptop) {
      padding: 0 10rem;
    }

    p {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        margin: 2rem 0;
      }
    }
  }

  &__file-btn {
    margin-top: 2rem;
  }

  &-submit {
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
      margin-bottom: 4rem;
      -ms-grid-column-span: 9 !important;
    }
  }

  &__grid-1-6 {
    
    @include respond(tab) {
      grid-column: 1 / span 6;
      -ms-grid-column: 1;
      -ms-grid-column-span: 11;
    }
  }

  &__grid-7-12 {
    
    @include respond(tab) {
      grid-column: 7 / span 6;
      -ms-grid-column: 13 !important;
      -ms-grid-column-span: 11;
    }
  }

  &__grid-1-4 {
    
    @include respond(tab) {
      grid-column: 1 / span 4;
      -ms-grid-column: 1 !important;
      -ms-grid-column-span: 7;
    }
  }

  &__grid-1-5 {
   
    @include respond(tab) {
      grid-column: 1 / span 5;
    }
  }

  &__grid-5-8 {
    
    @include respond(tab) {
      grid-column: 5 / span 4;
      -ms-grid-column: 9 !important;
      -ms-grid-column-span: 7;
    }
  }

  &__grid-9-12 {
    @include respond(tab) {
      grid-column: 9 / span 4;
      -ms-grid-column: 17 !important;
      -ms-grid-column-span: 7;
    }
  }

  &__grid-1-2 {
    @include respond(tab) {
      grid-column: 1 / span 2;
    }
  }

  &__grid-3-4 {
    @include respond(tab) {
      grid-column: 3 / span 2;
    }
  }

  &__grid-1-3 {
    @include respond(tab) {
      grid-column: 1 / span 3;
      -ms-grid-column-span: 5;
    }
  }

  &__grid-4-6 {
    @include respond(tab) {
      grid-column: 4 / span 3;
      -ms-grid-column: 7 !important;
      -ms-grid-column-span: 5;
    }
  }

  // &__btn {
  //   grid-column
  // }
}

.ie-row-2 {
  -ms-grid-row: 3;
}

.ie-row-3 {
  -ms-grid-row: 5;
}

.ie-row-4 {
  -ms-grid-row: 7;
}

.ie-row-5 {
  -ms-grid-row: 9;
}