.reviews-section {
  max-width: 1141px;
  margin: 0 auto;
  overflow: hidden;

  @include respond(desktop) {
    padding: 0;
  }

  &__background {
    background: #edf6fa;
    padding: 4rem 0 10rem 0;

    @include respond(tab) {
      padding: 4rem 3rem 12rem 3rem;
    }

    @include respond(laptop) {
      border-radius: 5px;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }

  &__heading {
    @include respond(tab) {
      text-align: center;
    }
  }

  &__arrows {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      -ms-grid-column: 2;
      grid-template-columns: 36px 1rem 36px;
    }
    
    &--team {
      position: absolute;
      right: 3rem;
      bottom: 0.5rem;
      @include respond(desktop) {
        right: 0rem;
      }
    }

    &--next {
      -ms-grid-column: 3;
    }
  }

  &__swiper-main {
    transform: translateY(-80px);

    @include respond(tab) {
      display: none;
    }

    @include respond(desktop) {
      display: block;
      padding: 0 3rem;
    }
  }

  &__swiper-tab {
    display: none;
    overflow: hidden;

    @include respond(tab) {
      display: block;
      transform: translateY(-80px);
    }

    @include respond(desktop) {
      display: none;
    }
  }

  &__btn {
    transform: translateY(-50px);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }
}
