.review {
  display: grid;
  gap: 3rem;
  margin: 8rem auto;

  &__header {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 3rem;
  }

  &__header-title {
    display: grid;
    transform: translateY(-15px);
  }

  &__header-text {
    font-size: 14px;
    color: rgba(71, 77, 80, 0.6);
  }

  &__content {
    font-size: 14px;
    line-height: 24px;
    display: grid;
    gap: 3rem;

    @include respond(tab) {
      grid-template-columns: max-content 1fr;

      &::before {
        content: "\201C";
        font-weight: 300;
        font-size: 144px;
        color: rgba(0, 0, 0, 0.2);
        padding-top: 40px;
      }
    }
  }

  &__result {
    display: grid;
    gap: 5rem;

    @include respond(tab) {
      grid-column: 2;
    }

    @include respond(desktop) {
      grid-template-columns: 1fr max-content;
      gap: 7rem;
    }
  }

  &__result-grid {
    display: grid;
    gap: 3rem;
  }

  &__numbers {
    display: grid;
    font-weight: 600;
    font-size: 16px;
    gap: 3rem;
    justify-items: center;

    @include respond(tab) {
      grid-template-columns: repeat(3, 1fr);
      justify-items: flex-start;
    }
  }

  &__number-grid {
    display: grid;
    align-self: flex-end;
    gap: 2rem;
  }

  &__number {
    font-size: 48px;
    line-height: 30px;
    margin-right: 10px;
    font-weight: 500;

    @include respond(laptop) {
      font-size: 64px;
      line-height: 50px;
    }
  }

  &__number-red {
    color: #fd3400;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: flex-start;
  }

}
