.review-page {
  margin-top: 3rem;

  @include respond(tab) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }


  &__slider {
    // display: grid;
    // grid-template-columns: 1fr;
    display: block;
    overflow: hidden;
    margin-bottom: 2rem;

    .swiper-slide {
      overflow: hidden;
    }

    .slick-initialized .slick-slide {
      display: flex !important;
    }
    
    @include respond(laptop) {
      display: grid;
      // grid-template-columns: 1fr 120px;
      grid-template-columns: 82% 120px;
      gap: 10px;
      height: 590px;
      margin-bottom: 55px;
      -ms-grid-columns: 82% 10px 120px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        height: auto;
      }
    }

    @include respond(desktop) {
      grid-template-columns: 88% 120px;
      -ms-grid-columns: 88% 10px 120px;
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }

    &--gallery {
      display: none;

      @include respond(laptop) {
        display: grid;
        -ms-grid-column: 3;
      }
    }

    &--img {
      width: 100%;
      height: auto;

      @include respond(tab) {
        // width: unset;
        // height: unset;
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          max-height: 590px;
          width: auto;
        }
      }
    }
  }

  &__big-slider {
    width: 100%;
    overflow: hidden;
  }

  &__image {
    height: 90px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }

  &__slide {
    &::before {
      content: "";
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: black;
      opacity: 0.3;
    }
  }

  &__button {
    display: grid;
    justify-items: center;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 45px;

    &--prev {
      top: 20px;
    }

    &--next {
      bottom: 20px;
    }
  }

  &__arrow {
    &--top {
      transform: rotate(-90deg);
    }

    &--down {
      transform: rotate(90deg);
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 84px;
    height: 84px;
    object-fit: cover;
  }

  &__header {
    display: grid;
    gap: 3rem;
    grid-template-columns: max-content 1fr;
    margin-bottom: 3rem;
    margin-top: 4rem;

    @include respond(laptop) {
      margin-bottom: 70px;
      margin-top: 0;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        display: flex;
      }
    }

    figure {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        margin-right: 3rem;
      }
    }
  }

  &__author {
    font-size: 14px;
    line-height: 24px;
    color: rgba(71, 77, 80, 0.6);
  }

  &__content {
    -ms-grid-column: 3;
  }

  &__content-container {
    display: grid;
    grid-template-columns: 1fr;
    align-self: flex-start;
    gap: 3rem;
    margin-bottom: 6rem;

    @include respond(tab) {
      grid-template-columns: max-content 1fr;
      -ms-grid-columns: 55px 2rem 1fr;
    }
  }

  &__quote {
    font-weight: 300;
    font-size: 144px;
    line-height: 130px;
    color: rgba(0, 0, 0, 0.2);
    display: none;

    @include respond(tab) {
      display: block;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: #3b4144;
    margin-top: 2rem;

    @include respond(tab) {
      margin-top: 0;
    }
  }

  &__results-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

    @include respond(laptop) {
      grid-template-columns: 380px 1fr;
      -ms-grid-columns: 380px 50px 1fr;
    }
  }

  &__results {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #3b4144;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  &__numbers {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;

    @include respond(laptop) {
      grid-template-columns: 1.5fr 1fr 2fr;
      -ms-grid-columns: 1.5fr 3rem 1fr 3rem 2fr;
      -ms-grid-column: 3;
    }
  }

  &__value {
    font-weight: 500;
    font-size: 64px;
    color: #fd3400;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: flex-start;
    line-height: 44px;
    gap: 5px;
  }

  &__value-grid:nth-child(2) {
    -ms-grid-column: 3;
  }

  &__value-grid:nth-child(3) {
    -ms-grid-column: 5;
  }

  &__value-text {
    font-size: 24px;
    line-height: 20px;
  }

  &__value-tip {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3b4144;
    padding-top: 15px;
  }

  &__video-wrap {
    display: flex;
    justify-content: center;

    video {
      max-width: 100%;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        max-height: 590px;
      }
    }

    // .video-volvo {
    //   max-width: 200px;

    //   @include respond(tab) {
    //     max-width: 332px;
    //   }
    // }

    // .video-volvo {
    //   max-width: 200px;

    //   @include respond(tab) {
    //     max-width: 1000px;
    //   }
    // }
  }
}
