.reviews {
  max-width: 1140px;
  margin: 5rem auto;
  display: grid;
  gap: 3rem;

  &__grid {
    display: grid;
    gap: 3rem;

    @include respond(tab) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
