.rules {
  margin-top: 3rem;
  margin-bottom: 3rem;
 
  @include respond(tab) {
    margin-bottom: 5rem;
    margin-bottom: 5rem;
  }

  @include respond(laptop) {
    margin-top: 0rem;
  }

  &--privacy {
    margin: 3rem auto;
    @include respond(laptop) {
      margin: 0 auto;
    }
  }

  &__block {
    display: grid;
    gap: 3rem;
    margin-bottom: 2rem;

    @include respond(tab) {
      margin-bottom: 5rem;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;

    &--bold {
      font-weight: 500;
      font-size: 16px;
    }
  }

  &__list {
    display: grid;
    gap: 2rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
      margin-top: 2rem;
    }
  }

  &__btn {
    justify-content: flex-start;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    height: unset;

    &--columns {
      display: block;
      color: #3B4144;
      text-decoration: none;
      font-size: 14px;

      svg {
        margin-left: 2rem;

        @include respond(laptop) {
          margin-left: 0rem;
        }
      }

      span {
        margin-right: 1rem;
      }

      // @include respond(laptop) {
      //   display: grid;
      // }
    }
  }

  &__header {
    display: grid;
    // grid-template-columns: 1fr max-content 1fr;
    grid-template-columns: 1fr;
    // justify-content: space-between;
    margin: 3rem 0;
    gap: 3rem;
    align-items: flex-start;
    
    @include respond(tab) {
      margin: 4rem 0;
      grid-template-columns: 1fr 1fr;
    }

    @include respond(laptop) {
      gap: 0;
      margin-top: 9rem;
      grid-template-columns: 355px 1fr 1fr;
      -ms-grid-columns: 355px 360px 1fr;
    }

    &--policy {
      grid-template-columns: 1fr;
      gap: 5rem;

      @include respond(tab) {
        grid-template-columns: 1fr 1fr;
      }
    }

    .show-laptop {
      -ms-grid-column: 2;
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }
  }

  &__header-list {
    display: grid;
    gap: 1rem;
    border-left: 4px solid #fd3400;
    padding-left: 3rem;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
      height: 100px;
    }

    @include respond(laptop) {
      justify-self: flex-end;
      -ms-grid-column: 3;
    }
  }

  &__padding {
    padding-left: 3rem;
  }

  &__number {
    margin-right: 1rem;
  }

  &__image {
    transform: translateY(-55px);
  }

  &__list-item {
    max-width: 300px;
  }
}
