.sales {
  // max-width: 1140px;
  margin: 3rem auto;
  // display: grid;
  gap: 3rem;

  @include respond(tab) {
    // margin: 5rem auto;
    gap: 5rem;
  }

  @include respond(laptop) {
    margin: 5rem auto;
  }

  &__header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include respond(tab) {
      margin-bottom: 3rem;
      // align-items: center;
    }

    @include respond(laptop) {
      margin-bottom: 4rem;
    }
  }

  &__grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(laptop) {
      grid-template-columns: repeat(6, 1fr);
      -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
      -ms-grid-rows: 400px 3rem 370px;
    }

    &--limited {
      display: block;
      margin-bottom: 4rem;

      @include respond(laptop) {
        margin-bottom: 7rem;
      }
    }

    &--carousel {
      @include respond(laptop) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .article-card:nth-last-child(3) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      -ms-grid-row: 3;
    }

    .article-card:nth-last-child(2) {
      -ms-grid-row: 3;
      -ms-grid-column: 5;
      -ms-grid-column-span: 3;
    }

    .article-card:nth-last-child(1) {
      -ms-grid-row: 3;
      -ms-grid-column: 9;
      -ms-grid-column-span: 3;
    }
  }

  &__arrows {
    margin-top: 2rem;

    @include respond(tab) {
      margin-top: 0;
    }
  }

  &-card {
    width: 555px;
    height: 320px;
    border: none;

    @include respond(tab) {
      height: 420px;
    }
  }

  &-card-1 {
    background-color: #304198;
    
    &__block {
      padding: 2.6rem 2.5rem 2rem;

      @include respond(tab) {
        padding: 0;
        position: absolute;
        top: 7rem;
        right: 4rem;
      }
    }

    &__text {
      font-size: 24px;
      line-height: 50px;
      font-weight: 600;

      @include respond(tab) {
        font-size: 44px;
        line-height: 54px;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          line-height: 90px;
        }
      }

      &--small {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__img {
      object-fit: unset;
      height: unset;

      @include respond(tab) {
        object-fit: cover;
        height: auto;
      }
    }
  }

  &-card-2 {
    display: block;

    &__block {
      text-align: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      box-sizing: border-box;
      padding-top: 6rem;
      padding-bottom: 3rem;
      justify-content: space-between;

      @include respond(laptop) {
        padding: 7rem 0;
      }
    }

    &__text {
      font-weight: 600;
      font-size: 20px;
      line-height: 35px;

      @include respond(tab) {
        font-size: 36px;
        line-height: 44px;
      }

      &--small {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &-card-3 {
    background-color: #FFB800;
    width: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;

    &__block {
      padding-bottom: 3rem;
      text-align: center;
      
      @include respond(laptop) {
        padding-bottom: 4rem;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          display: block;
         }
      }
    }

    &__text {
      font-weight: 600;
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 1rem;

      @include respond(tab) {
        font-size: 44px;
        line-height: 50px;
      }

      &--small {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &-card-4 {
    background-color: #EDF6FA;
    width: auto;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    -ms-grid-row: 1;

    &__block {
      padding: 0;
      position: absolute;
      top: 5rem;
      right: 2rem;

      @include respond(tab) {
        padding: 0;
        position: absolute;
        top: 6rem;
        right: 4rem;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          display: block;
        }
      }
    }

    &__text {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #3B4144;

      @include respond(tab) {
        font-size: 36px;
        line-height: 44px;
      }

      .red {
        display: block;
        text-transform: uppercase;

        @include respond(tab) {
          font-size: 40px;
          line-height: 50px;
        }
      }

      &--small {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #3B4144;
      }
    }
  }

  &-lottery {
    grid-template-rows: 1fr;
    // grid-column-gap: 2rem;
    align-self: center;

    @include respond(tab) {
      grid-column: 1 / 3;
      grid-template-columns: 42% 1fr;
    }

    @include respond(laptop) {
      grid-column: 1 / 7;
      grid-template-columns: 42% 1fr;
      -ms-grid-columns: 42% 1fr;
      -ms-grid-column: 1;
      -ms-grid-column-span: 11 !important;
    }

    &__content {
      padding: 3rem;
      
      @include respond(laptop) {
        padding: 5rem 0;
        grid-row-gap: 2rem;
        -ms-grid-column: 2;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          display: block;
        }
      }
    }

    &__title {
      font-weight: 600;
      font-size: 30px;

      @include respond(laptop) {
        font-size: 50px;
        line-height: 50px;
      }
    }

    &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;

      @include respond(laptop) {
        font-size: 32px;
        line-height: 39px;
      }
    }

    &__figure {
      align-self: end;
      text-align: center;
      grid-row: 2;

      @include respond(laptop) {
        grid-row: 1;
        -ms-grid-row: 2;
      }
    }

    &__img {
      position: relative;
      max-width: 251px;
      width: 100%;
      height: auto;
      object-fit: unset;
      transform: translateY(5px);

      @include respond(tab) {
        max-width: 351px;
      }
    }
  }

  &__section-blue {
    background: #edf6fa;
  }

  &__section--2 {
    margin-top: 3rem;
  }

  &__section--article {
    padding-top: 7rem;
    margin-bottom: 4rem;

    @include respond(tab) {
      margin-bottom: 9rem;
    }
  }

  &__tags {
    display: none;
    justify-self: flex-end;
    flex-wrap: wrap;
    margin-top: 2rem;

    @include respond(tab) {
      margin-top: 0rem;
      display: flex;
    }

    &--single {
      display: none;
      @include respond(laptop) {
        display: flex;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__page-item {
    margin: 0 1rem;
    background: #edf6fa;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.1s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      background: #fd3400;
      color: white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__arrow {
    &:hover {
      cursor: pointer;
    }

    &--left {
      transform: rotate(180deg);
    }
  }

  &__banner {
    background: linear-gradient(45.4deg, #695876 0%, #7081a0 100%);
    border: 1px solid #695a78;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    color: white;
    text-align: center;
    gap: 3rem;

    @include respond(tab) {
      padding: 3rem 6rem;
    }

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0;
      text-align: left;
      transform: translateY(50%);
    }

    &--second {
      margin-bottom: 3rem;
      @include respond(laptop) {
        margin-bottom: 0rem;
        transform: translateY(-40%);
      }
    }


    &-btn {
      max-width: 228px;
    }
  }

  &__banner-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
  }

  &__banner-img {
    width: 100%;
    display: block;
  }

  &__articles {
    display: grid;
    gap: 3rem;

    @include respond(tab) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(laptop) {
      gap: 5rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // &__stripe {
  //   border-radius: 5px;
  //   grid-template-rows: max-content max-content;
  //   padding: 0.2rem;
  //   justify-items: center;

  //   @include respond(tab) {
  //     padding: 1rem;
  //   }

  //   &--position {
  //     position: absolute;
  //     top: -15px;
  //     right: 20px;
  //   }
  // }

  &__month {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 10px;
  }

  &-page {

    @include respond(laptop) {
      display: grid;
      grid-template-columns: 50% 1fr;
      max-width: 1141px;
      margin: 0 auto;
      margin-bottom: 4rem;
    }

    @include respond(desktop) {
      grid-template-columns: 555px 1fr;
      grid-column-gap: 6rem;
      -ms-grid-columns: 555px 6rem 1fr;
    }

    &__section {
    
      @include respond(tab) {
        padding-top: 4rem;
      }
    }

    &__content {
      margin-top: 2rem;
      margin-bottom: 4rem;
      display: grid;
      grid-gap: 2rem;

      @include respond(laptop) {
        grid-gap: 4rem;
        -ms-grid-column: 2;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
          -ms-grid-rows: auto 4rem auto 4rem auto 4rem auto 4rem auto;
        }
      }

      @include respond(desktop) {
        -ms-grid-column: 3;
      }
    }

    &__card {
      display: block;
      width: unset;
      height: unset;
      border-radius: 0;

      @include respond(tab) {
        width: 525px;
        height: 420px;
        margin: 0 auto;
        border-radius: 5px;
      }

      @include respond(laptop) {
        width: 555px;
        grid-column: 1;
      }

      &--img {
        position: static;
      }

      &--text {
        padding: 0;
        position: absolute;
        top: 2rem;
        right: 2rem;
        max-width: 200px;

        @include respond(tab) {
          padding: 0;
          position: absolute;
          top: 6rem;
          right: 4rem;
          max-width: unset;

          @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
            max-width: 100%;
            display: block;
          }
        }

        .sales-card-1__text {
          line-height: 33px;

          @include respond(tab) {
            line-height: 50px;
          }
        }

        .sales-card-1__text--small {
          font-size: 14px;

          @include respond(tab) {
            font-size: 16px;
          }
        }
      }
    }

    &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 45px;
      color: #3B4144;

      @include respond(tab) {
        font-size: 48px;
        line-height: 59px;
      }
    }

    &__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #3B4144;

      @include respond(tab) {
        font-size: 24px;
        line-height: 36px;
        -ms-grid-row: 3;
      }
    }

    &-timer {
      -ms-grid-row: 5;
      
      &__block {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        max-width: 520px;
      }

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__title {
        font-size: 14px;
        line-height: 24px;
        color: #3B4144;

        @include respond(tab) {
          font-size: 18px;
          line-height: 36px;
        }
      }

      &__red {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #FD3400;

        @include respond(tab) {
          font-size: 48px;
          line-height: 59px;
        }
      }

      &__time {
        font-size: 10px;
        line-height: 24px;
        color: #3B4144;

        @include respond(tab) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    &__text {
      font-size: 12px;
      line-height: 18px;
      color: #3B4144;

      @include respond(tab) {
        font-size: 14px;
        line-height: 24px;
        -ms-grid-row: 9;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
          max-width: 530px;
        }
      }
    }

    .request-form {
      -ms-grid-row: 11;
    }
  }
}
