.short-form {
  display: grid;
  justify-content: space-around;
  padding-bottom: 45px;

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    display: block;
  }

  @include respond(tab) {
    padding-top: 30px;
    padding-bottom: 80px;
  }

  @include respond(laptop) {
    padding-bottom: 0px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .about-card__form {
    position: relative;
    justify-content: center;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      justify-content: flex-start;
      margin: 0 auto;
    }

    .opd {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-top: 2rem;
      }
    }
  }
}
