.simple-benefits {
  margin: 5rem auto;

  &__list {
    display: grid;
    margin-top: 5rem;
    gap: 4rem;

    @include respond(tab) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(laptop) {
      grid-template-columns: repeat(3, 1fr);
      -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr;
      -ms-grid-rows: 1fr 4rem 1fr;
    }
  }

  &__list-item {
    display: grid;
    gap: 2rem;
    grid-template-columns: max-content 1fr;
    font-size: 14px;
    line-height: 24px;
    -ms-grid-columns: 50px 2rem 1fr;

    &:nth-child(2) {
      -ms-grid-column: 3;
      -ms-grid-row: 1;
    }

    &:nth-child(3) {
      -ms-grid-column: 5;
      -ms-grid-row: 1;
    }

    &:nth-child(4) {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }

    &:nth-child(5) {
      -ms-grid-column: 3;
      -ms-grid-row: 3;
    }

    &:nth-child(6) {
      -ms-grid-column: 5;
      -ms-grid-row: 3;
    }

    p {
      -ms-grid-column: 3;
    }
  }
}
