.sitemap {
  margin-bottom: 2rem;
  margin-top: 3rem;

  @include respond(tab) {
    margin-top: 0;
    margin-bottom: 8rem;
  }

  &__content {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;

    @include respond(tab) {
      margin-top: 5rem;
      grid-template-columns: 1fr 1fr 1fr;
    }

  }

  &__grid-item:nth-child(2) {
    -ms-grid-column: 2;
  }

  &__grid-item:nth-child(3) {
    -ms-grid-column: 3;
  }

  &__item {
    margin-bottom: 3rem;

    @include respond(tab) {
      margin-bottom: 5rem;
    }
  }

  &__item-title {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #EDF6FA;

    @include respond(tab) {
      margin-right: 30px;
      padding-bottom: 27px;
      margin-bottom: 5rem;
    }

  
  }

  &__ul {
    display: grid;
    gap: 1rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }
}
