.special-conditions {
  // display: none;
  background: #EDF6FA;
  padding-top: 3rem;

  @include respond(tab) {
    padding-bottom: 8rem;
  }

  @include respond(laptop) {
    margin-bottom: 7rem;
    padding-top: 6rem;
  }

  &--moto {
    padding-bottom: 2rem;

    @include respond(tab) {
      padding-bottom: 8rem;
    }

    .cta-card__content {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        -ms-grid-rows: 40px 2.5rem 90px 2.5rem 50px;
      }
    }
  }

  &--white {
    background: #fff;
  }

  &--ur {
    background: #fff;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
      background: #fff;
    }

    @include respond(laptop) {
      margin-bottom: 0rem;
      padding-top: 0rem;
    }

    .special-conditions__grid--block {
      -ms-grid-rows: 1fr;
    }
  }

  &--main {
    @include respond(laptop) {
      margin-bottom: 0rem;
    }
  }

  &-auto-mob {
    display: block;

    @include respond(tab) {
      display: none;
    }
  }

  &__content {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    // padding: 50px 0;

    @include respond(desktop) {
      // padding: 100px 0;
    }
  }

  &__grid {
    display: none;
    gap: 2rem;
   
    @include respond(tab) {
      margin-top: 4rem;
      row-gap: 3rem;
      display: grid;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-around;
      }
    }

    @include respond(desktop) {
      gap: 4rem;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 0;
    }

    &--block {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }

      @include respond(desktop) {
        -ms-grid-columns: 1fr 4rem 1fr;
        -ms-grid-rows: 1fr 4rem 1fr 4rem 1fr 4rem 1fr;
        display: -ms-grid;
      }

      .cta-card {
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          margin-bottom: 4rem;
        }

        @include respond(desktop) {
          @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
            margin-bottom: 0rem;
          }
        }
      }
    }

    .cta-card:nth-child(even) {
      -ms-grid-column: 3;
    }

    .cta-card:nth-child(3) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }

    .cta-card:nth-child(5) {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
    }

    .cta-card:nth-child(6) {
      -ms-grid-row: 5;
    }

    .cta-card:nth-child(7) {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
    }

    .cta-card:nth-child(8) {
      -ms-grid-row: 7;
    }
  }

  &__mob {
    
    @include respond(tab) {
      display: none;
    }

    &--moto {
      .cta-card__figure--premium-mob {
        justify-content: flex-end;
      }
    }
    
  }

  &__heading {
    margin-bottom: 3rem;
  }
}
