.steps {
  max-width: 1141px;
  margin: 0 auto;

  @include respond(tab) {
    padding-bottom: 3rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;

    @include respond(tab) {
      margin-bottom: 4rem;
    }
  }

  &__stripe {
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
    background: #fd3400;
    width: 35px;
    height: 46.02px;
    border-radius: 3.24074px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 1rem;

    @include respond(tab) {
      width: 54px;
      height: 71px;
      font-size: 18px;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 280px;
    justify-content: center;
    gap: 4rem;

    @include respond(tab) {
      grid-template-columns: repeat(3, 210px);
      justify-content: space-between;
    }

    @include respond(laptop) {
      grid-template-columns: repeat(3, 250px);

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__list-item {
    display: grid;
    gap: 1rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }
  }

  &__list-text {
    font-size: 12px;
    line-height: 18px;
    max-width: 280px;

    @include respond(tab) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
