.steps-product {
  max-width: 1140px;
  margin: 0 auto 5rem auto;

  @include respond(laptop) {
    margin: 0 auto 7rem auto;
  }

  &__content {
    display: grid;
    justify-items: center;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;

    @include respond(tab) {
      margin-bottom: 4rem;
    }
  }

  &__number {
    color: #fd3400;
    font-weight: 300;
    font-size: 50px;
    border-bottom: 1px solid #edf6fa;

    @include respond(laptop) {
      font-size: 100px;
    }
  }

  &__list {
    display: grid;
    gap: 4rem;

    @include respond(tab) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(laptop) {
      grid-template-columns: repeat(4, 1fr);

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        grid-template-columns: 255px 4rem 255px 4rem 255px 4rem 255px;
      }
    }

    @include respond(desktop) {
      margin-bottom: 30px;
    }
  }

  &__list-item {
    display: grid;
    gap: 1rem;
    grid-template-rows: 100px 1fr;
    width: 100%;

    @include respond(tab) {
      width: 80%;
    }

    @include respond(laptop) {
      grid-template-rows: 170px 1fr;
      width: 100%;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: block;
      }
    }

    &:nth-child(2) {
      -ms-grid-column: 3;
    }

    &:nth-child(3) {
      -ms-grid-column: 5;
    }

    &:nth-child(4) {
      -ms-grid-column: 7;
    }
  }

  &__list-text {
    font-size: 12px;
    line-height: 18px;
  
    @include respond(tab) {
      max-width: 250px;
    }

    @include respond(laptop) {
      font-size: 16px;
      line-height: 24px;
      display: none;
    }

  }

  &__btn {
    width: auto;
    margin-top: 5rem;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    max-width: 585px;
  }

  &__text-bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 385px;
    margin-top: 8rem;
  }
}
