.team {
  background: #edf6fa;
  margin-bottom: 5rem;

  @include respond(laptop) {
    margin-bottom: 7rem;
  }


  &__content {
    padding: 4rem 0;
    overflow: hidden;

    @include respond(tab) {
      padding: 5rem 0;
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr max-content;
    text-align: center;
    align-items: flex-end;
    margin-bottom: 4rem;
    position: relative;

    .heading-2 {
      max-width: 180px;
      text-align: left;
      padding-left: 20px;

      @include respond(tab) {
        max-width: unset;
        text-align: center;
        padding-left: 0px;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
          max-width: 100%;
        }
      }
    }
  }

  &__member {
    display: grid;
    text-align: center;
    justify-items: center;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__avatar {
    background: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 1rem;
    color: #3b4144;
  }

  &__position {
    font-size: 14px;
    color: #3b4144;
  }
}
