.trust {
  margin-bottom: 5rem;

  @include respond(laptop) {
    margin-bottom: 7rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &__content {
    
    @include respond(tab) {
      grid-template-columns: 60% 32%;
      display: grid;
      justify-content: space-between;
    }

    @include respond(laptop) {
      // gap: 5rem;
      grid-template-columns: 30% 60%;
      // gap: 10rem;
      -ms-grid-columns: 30% 5rem 60%;
    }
  
  }

  &__slider {
    -ms-grid-column: 3;
  }

  &__p1 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 2rem;
  }

  &__p2 {
    font-size: 14px;
    line-height: 24px;
    max-width: 360px;
  }

  &__doc {
    font-size: 12px;
    line-height: 18px;
    margin-top: 2rem;
    max-width: 280px;

    @include respond(tab) {
      max-width: 180px;
    }
  }

  &__figure {
    margin-top: 3rem;
    text-align: center;

    @include respond(tab) {
      margin-top: 0rem;
      text-align: left;
    }
  }

  &__img {
    max-width: 180px;
  }

  &-swiper {
    overflow: hidden;
  }
}
