.use-boat {
  background: #edf6fa;
  margin: 5rem auto;

  &__content {
    display: grid;
    gap: 8rem;
    padding-top: 8rem;
    padding-bottom: 8rem;

    @include respond(laptop) {
      grid-template-columns: 1fr 1fr;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        display: flex;
        justify-content: space-between;
       
      }
    }
  }

  &__content-grid {
    font-size: 14px;
    display: grid;
    gap: 3rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
      max-width: 530px;
    }

    .heading-2 {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
        margin-bottom: 3rem;
      }
    }
  }
}
