.video {
  max-width: 1141px;
  margin: 3rem auto;

  &__content {
    padding: 0 2rem 0 3rem;
    display: grid;

    @include respond(tab) {
      padding: 0 9rem;
    }

    @include respond(desktop) {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 8rem;
      // align-items: center;
      padding: 0 0 0 1rem;
      margin: 6rem auto;

      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        grid-template-columns: 580px 8rem 1fr;
      }
    }

    &--revert {
      display: grid;

      gap: 3rem;

      @include respond(desktop) {
        grid-template-columns: 1fr max-content;

        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
          display: flex;
        }
      }

      .video__text {
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
          max-width: 580px;
          margin-right: 3rem;
        }
      }
    }
  }

  &__image-container {
    margin: 0 auto 3rem auto;
    background: #fd4209;
    display: grid;
    align-items: center;
  }

  &__image {
    width: 100%;
    display: block;
    max-width: 580px;
  }

  &__image-figure {
    transform: translate(-10px, -10px);
    grid-row: 1;
    grid-column: 1;

    &--1 {
      transform: translate(10px, -10px);
    }
  }

  &__button {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    justify-self: center;
    transition: all 0.4s ease-out;

    &:hover {
      cursor: pointer;
      transform: rotate(240deg);
    }
  }

  &__text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;

    @include respond(tab) {
      font-size: 16px;
    }

    @include respond(desktop) {
      text-align: left;
      -ms-grid-column: 3;
    }
  }

  &__paragraph {
    margin: 2rem auto 0 auto;
    max-width: 250px;
    font-size: 14px;
    line-height: 24px;

    @include respond(tab) {
      max-width: none;
    }
  }

  &__form {
    margin: 2rem auto;
    padding: 0 3rem;
    max-width: 300px;
    display: grid;
    gap: 2rem;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr;
      padding: 0 8rem;
      max-width: 600px;
      -ms-grid-columns: 1fr 2rem 1fr;
      -ms-grid-rows: 1fr 2rem 1fr;
    }

    @include respond(desktop) {
      padding: 0;
      max-width: 450px;
      margin: 3rem 0;
    }

    .input-phone {
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
        width: 221px;
      }
    }

    button {
      -ms-grid-column: 3;
    }

    .opd {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }
  }
}
