.vip-conditions {
  background: #edf6fa;
  margin: 5rem auto;
  overflow: hidden;

  @include respond(laptop) {
    margin-top: 8rem;
    margin-bottom: 6rem;
  }

  &__content {
    // text-align: center;
    padding: 5rem 3rem 25rem;
    position: relative;

    @include respond(laptop) {
      padding: 5rem 0rem 25rem;
    }
  }

  &__tabs {
    display: grid;
    width: 80%;
    gap: 4rem;
    margin: 5rem 0 1rem 0;

    @include respond(tab) {
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr;
    }
  }

  &__tab {
    border-radius: 5px;
    position: relative;
    background: white;
    text-align: initial;
    padding: 1.5rem;
    font-size: 12px;
    line-height: 18px;
    display: grid;
    // gap: 1rem;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
      display: block;
    }

    &:nth-child(2) {
      -ms-grid-column: 3;
    }

    &:nth-child(3) {
      -ms-grid-column: 5;
    }
  }

  &__tab-svg {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__tab-bold {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &__tab-big {
    font-size: 24px;
  }

  &__tab-small {
    font-size: 12px;
  }

  &__image {
    display: none;
    position: absolute;
    right: 0;
    transform: translate(30px, -50px);

    @include respond(laptop) {
      display: block;
    }
  }
}
